---
import Pic from '../Pic/Pic.astro';
---

<header>
  <div class="logo">
    <Pic filename="title" alt="Designcember" class="logo" height="999" width="3808" />
  </div>
  <p class="intro">A celebration of web design brought to you by <a href="https://web.dev">web.dev</a>. Every day we'll drop a UI development treat for you to celebrate the new responsive web of tomorrow.</p>
</header>

<style>
  header {
    display: grid;
    place-items: center;
    margin-block-start: -3.125rem;


    @media print {
      display: none; 
    }
  }

  .logo {
    inline-size: min(80vw, 1000px);
  }

  .intro {
    padding: 2rem 6rem 0 2rem;
    margin-top: -0.3125rem;
    max-inline-size: var(--size-content-2);
    color: var(--text-2);
    font-size: clamp(1rem, 2.5vw, var(--font-size-fluid-1));

    @media (--sm) {
      padding: 2rem 2rem 0;
    }

    @media (--md) {
      padding: 0.5rem 0 0;
    }
  }

  .intro a {
    color: var(--indigo-6);
    text-decoration-color: var(--indigo-6);
  }

  .prose {
    padding: 1rem;
    max-inline-size: var(--size-content-3);
    color: var(--indigo-6);
    font-size: var(--font-size-fluid-1);
  }
</style>

<style global>
  [data-theme="dark"] {
    & .intro {
      color: var(--indigo-1);
    }

    & .prose {
      color: var(--indigo-2);
    }

    & .logo {
      filter: hue-rotate(205deg) grayscale(0.85) brightness(2)
    }
  }
</style>