---
import Pic from '../Pic/Pic.astro';
---

<header>
  <div class="logo">
    <Pic filename="title" alt="Designcember" class="logo" height="999" width="3808" />
  </div>
</header>

<style>
  header {
    padding-block: 10vh;
    display: grid;
    place-items: center;
  }

  .logo {
    inline-size: min(80vw, 1200px);
  }
</style>