---
import Pic from '../Pic/Pic.astro';
---

<header>
  <div class="logo">
    <Pic filename="title" alt="Designcember" class="logo" height="999" width="3808" />
  </div>
  <p class="intro">A celebration of web design brought to you by <a href="https://web.dev">web.dev</a>.</p>
  <p class="prose">Every day we'll drop a UI development treat for you to celebrate the new responsive web of tomorrow.</p>
</header>

<style>
  header {
    display: grid;
    place-items: center;
  }

  .logo {
    inline-size: min(80vw, 1000px);
  }

  .intro {
    padding: 1rem;
    max-inline-size: var(--size-content-2);
    color: var(--indigo-4);
    font-size: var(--font-size-fluid-1);
  }

  .prose {
    padding: 1rem;
    max-inline-size: var(--size-content-3);
    color: var(--indigo-6);
    font-size: var(--font-size-fluid-1);
  }
</style>

<style global>
  [data-theme="dark"] {
    & .intro {
      color: var(--indigo-1);
    }

    & .prose {
      color: var(--indigo-2);
    }
  }
</style>