---
import {day} from '../Days/day.css';

import Day1 from '../Days/Day1.astro';
import Day2 from '../Days/Day2.astro';
import Day3 from '../Days/Day3.astro';
import Day4 from '../Days/Day4.astro';
import Day5 from '../Days/Day5.astro';
import Day6 from '../Days/Day6.astro';
import Day7 from '../Days/Day7.astro';
import Day8 from '../Days/Day8.astro';
import Day9 from '../Days/Day9.astro';
import Day10 from '../Days/Day10.astro';
import Day11 from '../Days/Day11.astro';
import Day12 from '../Days/Day12.astro';
import Day13 from '../Days/Day13.astro';
import Day14 from '../Days/Day14.astro';
import Day15 from '../Days/Day15.astro';
import Day16 from '../Days/Day16.astro';
import Day17 from '../Days/Day17.astro';
import Day18 from '../Days/Day18.astro';
import Day19 from '../Days/Day19.astro';
import Day20 from '../Days/Day20.astro';
import Day21 from '../Days/Day21.astro';
import Day22 from '../Days/Day22.astro';
import Day23 from '../Days/Day23.astro';
import Day24 from '../Days/Day24.astro';
import Day25 from '../Days/Day25.astro';
import Day26 from '../Days/Day26.astro';
import Day27 from '../Days/Day27.astro';
import Day28 from '../Days/Day28.astro';
import Day29 from '../Days/Day29.astro';
import Day30 from '../Days/Day30.astro';
import Day31 from '../Days/Day31.astro';
---

<main class="calendar">
  <Day1 />
  <Day2 />
  <Day3 />
  <div class="day">
    <Day4 />
    <Day5 />
  </div>
  <Day6 />
  <Day7 />
  <Day8 />
  <Day9 />
  <Day10 />
  <Day11 />
  <Day12 />
  <Day13 />
  <Day14 />
  <Day15 />
  <Day16 />
  <Day17 />
  <div class="day pair-reverse">
    <Day18 />
    <Day19 />
  </div>
  <Day20 />
  <Day21 />
  <Day22 />
  <Day23 />
  <Day24 />
  <div class="day">
    <Day25 />
    <Day26 />
  </div>
  <Day27 />
  <Day28 />
  <Day29 />
  <Day30 />
  <Day31 />
</main>

<style>
  .calendar {
    --_card-size: calc(50% - 80px); 
    --_windows: 2;
    --_building-color: var(--gray-1);
    
    container: inline-size;
    inline-size: min(80vw, 1200px);
    border: 5px solid black;
    position: relative;
    background: var(--_building-color);

    display: grid;
    grid-template-columns: repeat(var(--_windows), minmax(var(--_card-size), 1fr));
    grid-auto-flow: dense;
    padding: 10px;
    align-items: start;
    
    @media (--md) {
      --_card-size: calc(33% - 80px);
      --_windows: 3;
      padding: 20px;
    }
    
    @media (--lg) {
      --_card-size: calc(25% - 80px);
      --_windows: 4;
      padding: 40px;
    }
    
    @media (--xl) {
      --_card-size: calc(20% - 80px);
      --_windows: 5;
    }
    
    &::before {
      content: "";
      position: absolute;
      top: -20px;
      left: -5%;
      block-size: 20px;
      width: 110%;
      border: 5px solid black;
      background: var(--gray-5);
    }
    
    &::after {
      content: "";
      position: absolute;
      top: -40px;
      left: -10%;
      block-size: 25px;
      width: 120%;
      border: 5px solid black;
      background: var(--gray-5);
    }
  }

  .pair-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
</style>