---
import Calendar from '../components/Calendar/Calendar.astro';
import Logo from '../components/Logo/Logo.astro';
import ThemeToggle from '../components/ThemeToggle/ThemeToggle.astro';
---

<style>
	@import "@argyleink/open-props/normalize.css";
	
	body {
		display: grid;
	  place-content: center;
	  justify-items: center;
	  gap: var(--size-10);
	}

	nav {
		justify-self: flex-end;
		padding: var(--size-5);
	}
</style>

<html lang="en">

	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>Designcember</title>
		<!-- consider prefetch of each window frame -->
		<script async defer src="https://unpkg.com/cqfill"></script>
		<script src="/ThemeToggle.js"></script>
	</head>

	<body>
		<nav>
			<ThemeToggle />
		</nav>
		<Logo />
		<Calendar />
	</body>

</html>
