---
import '@argyleink/open-props/props.css';
import '@argyleink/open-props/normalize.css';

import Calendar from '../components/Calendar/Calendar.astro';
---
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>Designcember</title>
		<script async defer src="https://unpkg.com/cqfill"></script>
	</head>

	<body>
		<Calendar />
	</body>

</html>
