---
import Calendar from '../components/Calendar/Calendar.astro';
import Tooltip from '../components/Tooltip/Tooltip.astro';
import Logo from '../components/Logo/Logo.astro';
import ThemeToggle from '../components/ThemeToggle/ThemeToggle.astro';
import Footer from '../components/Footer/Footer.astro';
---

<style>
  @import "@argyleink/open-props/normalize.min.css";
  @import "../styles/utilities.css";
  
  body {
    --_sky-gradient: linear-gradient(to bottom, #d7ebed 15%, white 30%, white 70%, #d7ebed 85%, #d7ebed);

    display: grid;
    align-items: center;
    justify-items: center;
    gap: var(--size-3) var(--size-10);
    overflow-x: hidden;

    background-color: #d7ebed;
    background-image: 
      url('/header-left.png'),
      url('/header-right.png'),
      var(--_sky-gradient);
    background-size: 40% auto, 40% auto, 100% 100%;
    background-position: left top, right top, center center;
  }

  @media (--sm) {
    body {
      gap: var(--size-10);
    }
  }
</style>

<style global>
  [data-theme="dark"] {
    & body {
      --_sky-gradient: linear-gradient(to bottom, rgb(0 40 74), rgb(105 141 179));
      --_sky-gradient--alpha: linear-gradient(to bottom, rgb(0 40 74 / 90%), rgb(105 141 179 / 90%));
      background-image: 
      var(--_sky-gradient--alpha),
      url('/header-left.png'),
      url('/header-right.png'),
      var(--_sky-gradient);
      background-size: 100% 100%, 40% auto, 40% auto, 100% 100%;
      background-position: center center, left top, right top, center center;
    }

    & .snow-left,
    & .snow-right {
      opacity: 0.3;
    }
  }
</style>

<html lang="en">

  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />

    <title>Designcember</title>
    <meta name="og:title" content="Designcember">
    <meta name="twitter:title" content="Designcember">

    <meta name="description" content="TODO">
    <meta name="og:description" content="TODO">
    <meta name="twitter:description" content="TODO">

    <meta name="twitter:image:src" content="https://designcember-hoooray.netlify.app/social.jpg">
    <meta name="twitter:image:alt" content="TODO">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="https://designcember-hoooray.netlify.app/social.jpg">
    <meta property="og:image:alt" content="TODO">

    <script type="module" src="/cqfillwrapper.js"></script>
    <script src="/ThemeToggle.js"></script>
  </head>

  <body>
    <Tooltip />
    <ThemeToggle />
    <Logo />
    <Calendar />
    <Footer />
  </body>

</html>
