---
import Calendar from '../components/Calendar/Calendar.astro';
---

<style>
	@import "@argyleink/open-props/normalize.css";
	
	body {
		display: grid;
	  place-content: center;
	  padding-block-start: 20vh;
	}
</style>

<style global>
	@custom-media --sm (width >= 720px);
	@custom-media --md (width >= 1024px);
	@custom-media --lg (width >= 1680px);
	@custom-media --xl (width >= 1920px);

	@custom-media --motionOK (prefers-reduced-motion: no-preference);
	@custom-media --dark (prefers-color-scheme: dark);
	@custom-media --light (prefers-color-scheme: light);
</style>

<html lang="en">

	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>Designcember</title>
		<script async defer src="https://unpkg.com/cqfill"></script>
	</head>

	<body>
		<Calendar />
	</body>

</html>
