---
import Calendar from '../components/Calendar/Calendar.astro';
import Logo from '../components/Logo/Logo.astro';
import ThemeToggle from '../components/ThemeToggle/ThemeToggle.astro';
import Footer from '../components/Footer/Footer.astro';
---

<style>
  @import "@argyleink/open-props/normalize.min.css";
  
  body {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: var(--size-10);

    background-color: #d7ebed;
    background-image: linear-gradient(to bottom, #d7ebed 15%, white 30%, white 70%, #d7ebed 85%, #d7ebed);
  }

  nav {
    justify-self: flex-end;
    padding: var(--size-5);
  }
</style>

<style global>
  [data-theme="dark"] {
    & body {
      background-image: linear-gradient(to bottom, rgb(0 40 74), rgb(105 141 179));


    }
  }
</style>

<html lang="en">

  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>Designcember</title>
    <!-- consider prefetch of each window frame -->
    <script async defer src="https://unpkg.com/cqfill"></script>
    <script src="/ThemeToggle.js"></script>
  </head>

  <body>
    <nav>
      <ThemeToggle />
    </nav>
    <Logo />
    <Calendar />
    <Footer />
  </body>

</html>
