---
import Calendar from '../components/Calendar/Calendar.astro';
import Logo from '../components/Logo/Logo.astro';
---

<style>
	@import "@argyleink/open-props/normalize.css";
	
	body {
		display: grid;
	  place-content: center;
	  justify-items: center;
	  gap: var(--size-10);
	}
</style>

<html lang="en">

	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>Designcember</title>
		<script async defer src="https://unpkg.com/cqfill"></script>
	</head>

	<body>
		<Logo />
		<Calendar />
	</body>

</html>
