.day {
  --_day-bg: #e4bb9f;

  container: inline-size;
  position: relative;
  scroll-margin-block-start: 10vh;
  cursor: pointer;

  /* debug */
  overflow: hidden;
  resize: both;
  padding: var(--size-3);

  &:focus-visible {
    outline: none;
  }

  &:is(:target, :focus-visible)::before {
    transform: scale(1.25);
  }
  
  &::before {
    position: absolute;
    text-indent: 100vw;
    overflow: hidden;
    z-index: var(--layer-1);
    inset-block-end: -1ch;
    inset-inline-start: calc(50% - (var(--size-4) / 1.5));
    inline-size: var(--size-4);
    background-size: contain;
    background-repeat: no-repeat;

    @media (--motionOK) {
      transition: transform .25s var(--ease-elastic-3);
    }
  }
}

.stacked {
  display: grid;
  grid: [stack] 1fr / [stack] 1fr;

  & > * {
    grid-area: stack;
  }
}