.day {
  --_day-bg: #e4bb9f;
  --_day-color: #93592f;
  --_day-shadow: #edc074;
  --_day-bg: #f2b970;
  --_day-height: 1;
  --_day-column: 1;
  
  container: inline-size;
  position: relative;
  scroll-margin-block-start: 10vh;
  grid-row: span var(--_day-height);
  grid-column: span var(--_day-column);

  &:not([data-day-state='active']) {
    filter: grayscale(1);
    cursor: not-allowed;
  }
}