.day {
  --_day-bg: var(--gray-4);

  container: inline-size;
  grid-row-start: span 2;
  position: relative;
  scroll-margin-block-start: 10vh;
  cursor: pointer;

  &:target {
    --_day-bg: var(--blue-5);
  }
  
  &::before {
    position: absolute;
    z-index: var(--layer-1);
    inset-block-end: -2ch;
    inset-inline-start: calc(50% - 2ch);
    
    background: var(--gray-0);
    display: grid;
    place-items: center;
    inline-size: 4ch;
    aspect-ratio: var(--aspect-box);
    font-family: var(--font-mono);
    border-radius: 1e3px;
    border: var(--border-size-2) solid var(--_day-bg);
    font-size: .7rem;
    color: var(--gray-8);
  }
}