---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
---

<style>
  .fourteen {
    align-self: flex-end;
    margin: 0 var(--size-4) var(--size-8) 0;
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-end center;
    margin-block-end: -15px;
  }

  .frame {
    place-items: center;
    border: var(--size-2) solid #d9773e;
    background: linear-gradient(to bottom left, #427197 15%, #5181a8 0%);
    overflow: hidden;
  }

  .combo {
    inline-size: 110%;
    margin-block: -5%;
  }
</style>

<style global>
  [data-theme="dark"] {
    & .sixteen {
      --bg-color: hsl(44deg 70% 32%);
    }
  }
</style>

<div id="14th" class="day fourteen stacked" title="">
  <span class="plaque">
    <Number num="14" link="#14th" />
  </span>
  <div class="frame stacked">
    <div class="combo">
      <Pic filename="day14/14" width="1048" height="1183" role="presentation" />
    </div>
  </div>
</div>