---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day12;
---

<style>
  .twelve {
    margin: var(--size-4) var(--size-7);
    border-radius: 1e3px 1e3px 0 0;
    padding: 0;
    overflow: visible;
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-end center;
  }
</style>

<div 
  id="12th" 
  data-day-state={day_state} 
  class="day twelve stacked cq-interactive" 
  title="A carousel horse is on display with holiday lights twinkling."
>
  <span class="plaque">
    <Number num="12" link="#12th" />
  </span>
  <Pic filename="day12/12-combo" width="821" height="876" role="presentation" />
</div>