---
---

<style>
  .ten {
    margin: var(--size-4) var(--size-4) 0 var(--size-10);
    border-radius: 50% 50% 100% 0% / 100% 100% 0% 0%;
    border: var(--size-2) solid #d9773e;
    background-color: var(--_day-bg);

    @media (--md) {
      grid-column: span 2;
    }

    &::before {
      content: "10";
    }
  }

  .frame {
    border-radius: inherit;
    min-block-size: 80px;
  }
</style>

<a href="#10th" id="10th" class="day ten stacked cq-interactive" title="">
  <div class="frame"></div>
</a>