---
---

<style>
  .fourteen {
    aspect-ratio: 2/1;
    align-self: flex-end;
    margin: 0 var(--size-4) var(--size-8) 0;
    background: var(--_day-bg);

    &::before {
      content: "14";
    }
  }
</style>

<a href="#14th" id="14th" class="day fourteen" title="">

</a>