---
---

<style>
  .twelve {
    aspect-ratio: 1/1.25;
    margin: var(--size-4) var(--size-7);
    border-radius: 1e3px 1e3px 0 0;
    background: var(--_day-bg);

    &::before {
      content: "12";
    }
  }
</style>

<div id="12th" class="day twelve" tabindex="0">

</div>