---
---

<style>
  .thirteen {
    aspect-ratio: 4/3;
    margin: var(--size-8) var(--size-6) 0 0;
    background-color: transparent;

    &::before {
      content: "13";
      inset-block: -2ch auto;
    }

    & picture > img {
      max-block-size: 100%;
      max-inline-size: 100%;
      object-fit: cover;
      clip-path: polygon(0 0, 100% 0, 50% 80%);
      background-color: var(--_day-bg);
    }
  }
</style>

<div class="day thirteen">
  <picture>
    <img height="200" width="350" src="https://doodleipsum.com/350x350/outline?13" alt="">
  </picture>
</div>