---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day1;
---

<style>
  .one {
    --_frame-bottom: 15%;
    --_frame-side: 7%;
    --_frame-size: var(--size-2);

    --_light-filter: none;
    --_bg-shadow-opacity: 1;
    --_bg-gradient-color-1: #fdfcf2;
    --_bg-gradient-color-2: #f7fad4;

    --_border-radius: 1e3px 1e3px 0 0;
    
    align-self: flex-start;
    overflow: visible;

    @media (--sm) {
      --_day-column: 1;
    }

    @media (--md) {
      margin-block-start: -50px;
    }
  }

  .plaque {
    z-index: var(--layer-2);
    place-self: flex-end center;
    margin-block-end: -15px;
  }

  .pane {
    min-block-size: 250px;
    border-radius: var(--_border-radius);
    border: var(--_frame-size) solid #d9773e;
    overflow: hidden;
    isolation: isolate;
    container: inline-size;

    @container (min-width: 220px) {
      min-block-size: 300px;
    }

    @container (min-width: 260px) {
      min-block-size: 310px;
    }

    @container (min-width: 270px) {
      min-block-size: 350px;
    }

    @container (min-width: 320px) {
      min-block-size: 400px;
    }

    @container (min-width: 360px) {
      min-block-size: 450px;
    }
  }

  .inner-frame {
    z-index: var(--layer-3);
  }

  .sill {
    align-self: flex-end;
    justify-self: center;
    align-items: flex-end;
    z-index: 1;
    inline-size: 110%;
  }

  .bg {
    border-radius: var(--_border-radius);
    background: linear-gradient(to bottom right, var(--_bg-gradient-color-1), var(--_bg-gradient-color-2));
  }

  .bg_shadow {
    opacity: var(--_bg-shadow-opacity);
    inline-size: 90%;

    @container (min-width: 240px) {
      inline-size: 100%;
    }
  }

  .una {
    margin-block-end: -5%;
    z-index: 1;
  }

  .una_body {
    align-self: flex-end;
    max-inline-size: min(70%, 220px);
    margin-inline-start: -5%;
    margin-inline-start: -5%;

    aspect-ratio: 784/749;
    background: url("/day1/una_sprite.png") 0% 0%;
    background: url("/day1/una_sprite.webp") 0% 0%;
    background-size: 400% auto;

    @nest .day:is(:hover, :focus-within) & {
      animation: una-wave .5s steps(1) alternate infinite;
    }
  }

  @keyframes una-wave {
    0%  { background-position-x: 0%; }
    25% { background-position-x: 300%; }
    50% { background-position-x: 200%; }
    75% { background-position-x: 100%; }
  }

  .una_hand {
    max-inline-size: 13%;
    align-self: flex-end;
    justify-self: center;
    margin-block-end: 38%; 
    margin-inline-end: 8%; 
    z-index: 2;
  }

  .una_lower {
    margin-block-end: -2.5%;
    margin-inline-start: min(25%, 100px);
    max-inline-size: min(75%, 300px);
    align-self: flex-end;
    justify-self: flex-start;
    z-index: 1;

    @container (min-width: 310px) and (min-height: 200px) {
      display: none;
    }
  }

  .adam {
    display: grid;
    align-items: flex-end;
    justify-items: flex-end;
  }

  .adam_body {
    inline-size: 100%;
    max-inline-size: min(85%, 275px);
    margin-inline-end: -3%;
    margin-block-end: -12%;

    aspect-ratio: 704/852;
    background: url("/day1/adam_sprite.png") 0% 0%;
    background: url("/day1/adam_sprite.webp") 0% 0%;
    background-size: 400% auto;

    @nest .day:is(:hover, :focus-within) & {
      animation: adam-wave .5s steps(1) alternate infinite;
    }
  }

  @keyframes adam-wave {
    0%  { background-position-x: 0%; }
    25% { background-position-x: 300%; }
    50% { background-position-x: 200%; }
    75% { background-position-x: 100%; }
  }

  .adam_hand {
    align-self: flex-start;
    justify-self: flex-start;
    max-inline-size: 28%;
    margin-block-start: 16%;
    margin-inline-start: -10%;
    transform-origin: bottom right;
  }

  .adam_wrist {
    align-self: flex-start;
    justify-self: flex-start;
    max-inline-size: 18%;
    margin-block-start: 29%;
    margin-inline-start: -1%;
  }

  .lights {
    filter: var(--_light-filter);
    inline-size: 30%;
    margin-inline-start: 10%;

    @container (min-width: 240px) {
      inline-size: 40%;
      margin-top: -13px;
    }
  }
</style>

<style global>
  [data-theme="dark"] {
    & .one {
      --_light-filter: drop-shadow(0px 0px 10px #fff9);
      --_bg-shadow-opacity: .25;
      --_bg-gradient-color-1: hsl(55deg 3% 20%);
      --_bg-gradient-color-2: hsl(65deg 59% 21%);
    }
  }
</style>

<div 
  id="1st" 
  data-day-state={day_state} 
  class="day one stacked cq-interactive" 
  title="Una and Adam sitting in a window."
>
  <span class="plaque">
    <Number num="1" link="#1st" />
  </span>
  <div class="pane stacked">
    <div class="bg"></div>
    <div class="bg_shadow">
      <Pic filename="day1/bg_shadow" role="presentation" />
    </div>
    <div class="lights">
      <Pic filename="day1/lights" role="presentation" />
    </div>
    <div class="adam">
      <div class="adam_body"></div>
    </div>
    <div class="una stacked">
      <div class="una_body">
        <!-- <Pic filename="day1/una_body" role="presentation" /> -->
      </div>
    </div>
    <div class="inner-frame">
      <Pic filename="day1/inner-frame" role="presentation" />
    </div>
  </div>
  <div class="sill stacked">
    <!-- <Pic filename="day1/sill" role="presentation" /> -->
    <div class="una_lower">
      <Pic filename="day1/una_foreground" role="presentation" />
    </div>
  </div>
</div>