---
---

<style>
  .fifteen {
    align-self: flex-end;
    margin-inline: var(--size-4);

    &::before {
      content: "15";
      background-image: url(/day15/15.avif);
      background-image: url(/day15/15.webp);
      background-image: url(/day15/15.png);
    }
  }

  .frame {
    min-block-size: 400px;
    border: var(--size-3) solid #d9773e;
    background: var(--_day-bg);
  }
</style>

<a href="#15th" id="15th" class="day fifteen" title="">
  <div class="frame cq-interactive"></div>
</a>