---
---

<style>
  .eleven {
    grid-column: span 2;
    grid-row-start: span 1;
    aspect-ratio: 3/1;
    margin: var(--size-4) var(--size-8) 0 calc(var(--size-3) * -1);
    align-self: center;
    background-image: url(https://doodleipsum.com/1000x400/outline?11);

    &::before {
      content: "11";
    }
  }
</style>

<div class="day eleven">

</div>