---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
---

<style>
  .one {
    --_frame-bottom: 15%;
    --_frame-side: 7%;
    --_frame-size: var(--size-2);

    --_light-filter: none;
    --_bg-shadow-opacity: 1;
    --_bg-gradient-color-1: #fdfcf2;
    --_bg-gradient-color-2: #f7fad4;

    --_border-radius: 1e3px 1e3px 0 0;

    margin: var(--size-2);

    /* Size constraints */
    height: 300px;
    min-height: 240px;
    max-height: 370px;
    min-width: 200px;
    /* max-width: 420px; */

    @media (--sm) {
      --_day-column: 2;
    }

    @media (--md) {
      --_day-column: 1;
    }
    
    /* @media (--motionOK) {
      &:is(:target, :hover, :focus-visible) {
        & .una_hand {
          transform-origin: bottom center;
          transform: rotateZ(-20deg);
          animation: una-wave 1s infinite;
        }

        & .adam_hand {
          animation: adam-wave .75s infinite;
        }
      }
    } */
  }

  .plaque {
    z-index: var(--layer-2);
    place-self: flex-end center;
    margin-block-end: -15px;
  }

  .pane {
    block-size: 100%;
    max-inline-size: 40rem;
    border-radius: var(--_border-radius);
    border: var(--_frame-size) solid #d9773e;
    overflow: hidden;
    isolation: isolate;
    container: inline-size;
  }

  .sill {
    align-self: flex-end;
    justify-self: center;
    align-items: flex-end;
    z-index: 1;
    inline-size: 110%;
  }

  .bg {
    border-radius: var(--_border-radius);
    background: linear-gradient(to bottom right, var(--_bg-gradient-color-1), var(--_bg-gradient-color-2));
  }

  .bg_shadow {
    opacity: var(--_bg-shadow-opacity);
    inline-size: 80%;
  }

  .una {
    margin-block-end: -5%;
    z-index: 1;
  }

  .una_body {
    align-self: flex-end;
    max-inline-size: min(60%, 220px);
    margin-inline-start: -5%;
    margin-inline-start: -5%;
  }

  .una_hand {
    max-inline-size: 13%;
    align-self: flex-end;
    justify-self: center;
    margin-block-end: 38%; 
    margin-inline-end: 8%; 
    z-index: 2;
  }

  .una_lower {
    margin-block-end: -2.5%;
    margin-inline-start: 100px;
    max-inline-size: min(75%, 300px);
    align-self: flex-end;
    justify-self: flex-start;
    z-index: 1;

    @container (max-width: 360px) {
      margin-inline-start: 20%;
    }

    @container (max-width: 310px) {
      margin-inline-start: 20%;
    }

    @container (min-width: 310px) {
      @container (min-height: 200px) {
        display: none;
      }
    }
  }

  .adam {
    display: grid;
    align-items: flex-end;
    justify-items: flex-end;
  }

  .adam_body {
    max-inline-size: min(65%, 225px);
    margin-inline-end: -3%;
    margin-block-end: -12%;
    z-index: 2;
  }

  .adam_hand {
    align-self: flex-start;
    justify-self: flex-start;
    max-inline-size: 28%;
    margin-block-start: 16%;
    margin-inline-start: -10%;
    transform-origin: bottom right;
  }

  .adam_wrist {
    align-self: flex-start;
    justify-self: flex-start;
    max-inline-size: 18%;
    margin-block-start: 29%;
    margin-inline-start: -1%;
  }

  .lights {
    filter: var(--_light-filter);
    inline-size: 30%;
    margin-inline-start: 10%;
  }

  @keyframes una-wave {
    50% { transform: rotateZ(5deg); }
  }

  @keyframes adam-wave {
    50% { transform: rotateZ(35deg); }
  }

  @container (max-width: 250px) {
    .bg_shadow {
      inline-size: 130%;
    }

    .lights {
      inline-size: 40%;
      margin-top: -13px;
    }
  }
</style>

<style global>
  [data-theme="dark"] {
    & .one {
      --_light-filter: drop-shadow(0px 0px 10px #fff9);
      --_bg-shadow-opacity: .25;
      --_bg-gradient-color-1: hsl(55deg 3% 20%);
      --_bg-gradient-color-2: hsl(65deg 59% 21%);
    }
  }
</style>

<div id="1st" class="day one stacked cq-interactive" title="Una and Adam sitting in a window">
  <span class="plaque">
    <Number num="1" link="#1st" />
  </span>
  <div class="pane stacked">
    <div class="bg"></div>
    <div class="bg_shadow">
      <Pic filename="day1/bg_shadow" role="presentation" />
    </div>
    <div class="lights">
      <Pic filename="day1/lights" role="presentation" />
    </div>
    <div class="adam">
      <div class="adam_body stacked">
        <div class="adam_hand">
          <Pic filename="day1/adam_hand" role="presentation" />
        </div>
        <Pic filename="day1/adam_body" role="presentation" />
      </div>
    </div>
    <div class="una stacked">
      <!-- <div class="una_hand">
        <Pic filename="day1/una_hand" role="presentation" />
      </div> -->
      <div class="una_body">
        <Pic filename="day1/una_body" role="presentation" />
      </div>
    </div>
  </div>
  <div class="sill stacked">
    <!-- <Pic filename="day1/sill" role="presentation" /> -->
    <div class="una_lower">
      <Pic filename="day1/una_foreground" role="presentation" />
    </div>
  </div>
</div>