---
---

<style>
  .sixteen {
    align-self: flex-end;
    margin-inline: var(--size-4);

    &::before {
      content: "16";
    }
  }

  .frame {
    min-block-size: 350px;
    border: var(--size-3) solid #d9773e;
    background: var(--_day-bg);
  }
</style>

<a href="#16th" id="16th" class="day sixteen" title="">
  <div class="frame cq-interactive"></div>
</a>