---
---

<style>
  .one {
    margin: var(--size-4);
    align-self: stretch;
    border-radius: 1e3px 1e3px 0 0;
    background: var(--_day-bg);

    &::before {
      content: "1";
    }
  }
</style>

<div id="1st" class="day one" tabindex="0">

</div>