---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
---

<style>
  .eleven {
    height: 100%;
    width: 80%;
    place-self: flex-start center;
    margin: var(--size-4) var(--size-8) 0 var(--size-4);

    @media (--md) {
      --_day-height: 2;
      margin: var(--size-4) var(--size-8) var(--size-4) calc(var(--size-3) * -1);
      margin-left: 0;
    }

    @media (--lg) {
      height: 80%;
      --_day-column: 2;
      --_day-height: 1;
    }

    @media (--xl) {
      --_day-column: 3;
    }
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-start center;
    margin-block-start: -10px;
  }

  .frame {
    height: 100%;
    width: 80%;
    min-block-size: 80px;
    background-color: var(--_day-bg);
    border: var(--size-2) solid #d9773e;

    @media (--lg) {
      box-sizing: border-box;
      width: 100%;
    }
  }
</style>

<div id="11th" class="day eleven stacked" title="">
  <span class="plaque">
    <Number num="11" link="#11th" />
  </span>
  <div class="frame cq-interactive"></div>
</div>