---
---

<style>
  .fifteen {
    aspect-ratio: 1/1.25;
    align-self: flex-end;
    margin-inline: var(--size-4);
    background: var(--_day-bg);

    &::before {
      content: "15";
    }
  }
</style>

<div id="15th" class="day fifteen">

</div>