---
---

<style>
  .sixteen {
    aspect-ratio: 1/1.25;
    align-self: flex-end;
    margin-inline: var(--size-4);
    background: var(--_day-bg);

    &::before {
      content: "16";
    }
  }
</style>

<div id="16th" class="day sixteen" tabindex="0">

</div>