---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day13;
---

<style>
  .thirteen {
    --bg-color: #e0e7ca;
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-end center;
    margin-block-end: 20px;
  }

  .frame {
    place-self: center;
    block-size: 110px;
    margin: var(--size-10) var(--size-8);
  }

  .combo {
    max-inline-size: 90%;
    place-self: center;
    margin-block-start: -30%;
  }

  .window {
    background: linear-gradient(to bottom, var(--bg-color), transparent);
    border-radius: 5px 5px 45px 45px;
    height: 70%;
    align-self: flex-end;
  }
</style>

<style global>
  [data-theme="dark"] {
    & .sixteen {
      --bg-color: hsl(44deg 70% 32%);
    }
  }
</style>

<div 
  id="13th" 
  data-day-state={day_state} 
  class="day thirteen stacked" 
  title=""
>
  <span class="plaque">
    <Number num="13" link="#13th" />
  </span>
  <div class="frame stacked">
    <div class="window"></div>
    <div class="combo">
      <Pic filename="day13/13-combo" width="754" height="707" role="presentation" />
    </div>
  </div>
</div>