---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
---

<style>
  .sixteen {
    --bg-color: #f8eceb;
    margin: var(--size-4);
    align-self: center;
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-end center;
    margin-block-start: -5px;
  }

  .frame {
    place-items: center;
  }

  .bg_texture {
    background-color: var(--bg-color);
    align-self: start;
  }

  .combo {
    min-inline-size: 110%;
  }
</style>

<style global>
  [data-theme="dark"] {
    & .sixteen {
      --bg-color: hsl(44deg 70% 32%);
    }
  }
</style>

<div id="16th" class="day sixteen stacked" title="">
  <span class="plaque">
    <Number num="16" link="#16th" />
  </span>
  <div class="frame stacked">
    <div class="bg_texture">
      <Pic filename="day16/bg_texture" width="1246" height="387" role="presentation" />
    </div>
    <div class="combo">
      <Pic filename="day16/combo" width="1383" height="816" role="presentation" />
    </div>
  </div>
</div>