---
---

<style>
  .seventeen {
    aspect-ratio: 1/1.5;
    align-self: flex-end;
    margin: var(--size-4);
    background: var(--_day-bg);

    &::before {
      content: "17";
      background-image: url(/day17/17.avif);
      background-image: url(/day17/17.webp);
      background-image: url(/day17/17.png);
    }
  }
</style>

<a href="#17th" id="17th" class="day seventeen" title="">

</a>