---
---

<style>
  .eleven {
    grid-column: span 2;
    grid-row-start: span 1;
    align-self: center;
    margin: var(--size-4) var(--size-8) 0 var(--size-4);

    &::before {
      content: "11";
      background-image: url(/day11/11.avif);
      background-image: url(/day11/11.webp);
      background-image: url(/day11/11.png);
    }

    @media (--md) {
      margin: var(--size-4) var(--size-8) var(--size-4) calc(var(--size-3) * -1);
    }

    @media (--md) {
      margin-left: 0;
    }
  }

  .frame {
    min-block-size: 80px;
    background-color: var(--_day-bg);
    border: var(--size-3) solid #d9773e;
  }
</style>

<a href="#11th" id="11th" class="day eleven" title="">
  <div class="frame cq-interactive"></div>
</a>