---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day14;
---

<style>
  .fourteen {
    aspect-ratio: auto;
    margin-block: 5% 10%;
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-end center;
    margin-block-end: -15px;
  }

  .bg {
    margin-block: 1% 2%;
    margin-inline: 3% 1%;
    background: linear-gradient(to bottom left, #427197 30%, #5181a8 0%);
  }

  .stars {
    aspect-ratio: 2265/1400;
    max-inline-size: 75%;
    margin-inline: auto;
    margin-block-start: 4%;
    background: url("/day14/star_sprites.png") 0% 0%;
    background: url("/day14/star_sprites.webp") 0% 0%;
    background-size: 300% auto;

    @nest .day:is(:hover, :focus-within) & {
      animation: twinkle 1.5s steps(1) infinite;
    }

    @supports not (aspect-ratio: 1) {
      block-size: 47%;
      margin-left: 5%;
      margin-right: 5%;
    }
  }

  @keyframes twinkle {
    0%  { background-position-x: 0%; }
    33% { background-position-x: 100%; }
    66% { background-position-x: 200%; }
  }
</style>

<style global>
  [data-theme="dark"] {
    & .sixteen {
      --bg-color: hsl(44deg 70% 32%);
    }
  }
</style>

<div
  id="14th"
  class="day fourteen stacked"
  aria-label="A young dreamer is cozily sleeping in bed with his trusty tiger stuffed animal (Hobbes, is that you?). Above them, a starry constellation of nightlights sparkle."
  data-day-state={day_state}
  data-detail-position="bottom"
  data-detail-title="Designing in the Browser: Dark Mode"
  data-detail-description="Learn about theming and dark mode in the latest installment of Designing in the Browser. And don't forget to try out the Designcember Dark mode for more theming fun."
  data-detail-url="#"
>
  <span class="plaque">
    <Number num="14" link="#14th" active={day_state} />
  </span>
  <div class="bg"></div>
  <div class="combo">
    <Pic filename="day14/14" width="1010" height="1168" role="presentation" />
  </div>
  <div class="stars"></div>
</div>
