---
---

<style>
  .seventeen {
    aspect-ratio: 1/1.5;
    align-self: flex-end;
    margin: var(--size-4);

    &::before {
      content: "17";
    }
  }

  .frame {
    min-block-size: 450px;
    border: var(--size-2) solid #d9773e;
    background: var(--_day-bg);
  }
</style>

<a href="#17th" id="17th" class="day seventeen" title="">
  <div class="frame cq-interactive"></div>
</a>