---
---

<style>
  .nineteen {
    aspect-ratio: 1;
    inline-size: 50%;
    justify-self: flex-end;
    border-radius: 1e3px 1e3px 0 0;
    margin: var(--size-3) var(--size-5) -10%;
    background: var(--_day-bg);

    &::before {
      content: "19";
      background-image: url(/day19/19.avif);
      background-image: url(/day19/19.webp);
      background-image: url(/day19/19.png);
    }
  }
</style>

<a href="#19th" id="19th" class="day nineteen" title="">

</a>