---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day11;
---

<style>
  .eleven {
    height: 90%;
    block-size: 300px;
    inline-size: 100%;
    justify-items: center;

    @media (--md) {
      --_day-height: 2;
      height: 100%;
    }

    @media (--lg) {
      height: 80%;
      --_day-height: 2;
    }
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-start center;
    margin-block-start: -10px;
  }

  .frame {
    height: 100%;
    width: 80%;
    min-block-size: 80px;
    background-color: var(--_day-bg);
    border: var(--size-2) solid #d9773e;

    @media (--lg) {
      box-sizing: border-box;
      width: 100%;
    }
  }
</style>

<div 
  id="11th" 
  class="day eleven stacked" 
  title="A grandma who is a knitting aficionado begins to knit a scarf, with extra balls of yarn wound up and prepared by her side."
  data-day-state={day_state} 
  data-detail-position="top" 
  data-detail-title="Material Theme Builder" 
  data-detail-description="Explore the new Material Design 3 guidance through the Material Theme Builder. Here, you can customize a theme, see how it looks as a dark theme, and export design tokens to bring it to your own applications." 
  data-detail-url="https://material-foundation.github.io/material-theme-builder/"
>
  <span class="plaque">
    <Number num="11" link="#11th" active={day_state} />
  </span>
  <div class="frame cq-interactive"></div>
</div>