---
---

<style>
  .nineteen {
    grid-row-end: span 1;
    grid-column: 2;
    aspect-ratio: 1/1.25;
    inline-size: 30%;
    justify-self: flex-end;
    border-radius: 1e3px 1e3px 0 0;
    margin-block-start: -100%;
    background-image: url(https://doodleipsum.com/700x700/outline?19);

    &::before {
      content: "19";
    }
  }
</style>

<div class="day nineteen">

</div>