---
---

<style>
  .ten {
    grid-column: span 2;
    grid-row-start: span 1;
    aspect-ratio: 4/1;
    margin: var(--size-4) var(--size-4) 0 var(--size-10);
    border-radius: 50% 50% 100% 0% / 100% 100% 0% 0%;
    background: var(--_day-bg);

    &::before {
      content: "10";
    }
  }
</style>

<div class="day ten">

</div>