---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day14;
---

<style>
  .fourteen {
    @media (--lg) {
      aspect-ratio: 1;
    }
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-end center;
    margin-block-end: -15px;
  }

  .frame {
    place-items: center;
    border: var(--size-2) solid #d9773e;
    background: linear-gradient(to bottom left, #427197 15%, #5181a8 0%);
    overflow: hidden;
  }

  .combo {
    inline-size: 110%;
    margin-block: -5%;
  }
</style>

<style global>
  [data-theme="dark"] {
    & .sixteen {
      --bg-color: hsl(44deg 70% 32%);
    }
  }
</style>

<div 
  id="14th" 
  class="day fourteen stacked" 
  title="A young dreamer is cozily sleeping in bed with his trusty tiger stuffed animal (Hobbes, is that you?). Above them, a starry constellation of nightlights sparkle."
  data-day-state={day_state} 
  data-detail-position="bottom" 
  data-detail-title="Design in the Browser: Dark Mode" 
  data-detail-description="Cookie gummies chupa chups lemon drops shortbread jelly sweet roll candy canes." 
  data-detail-url="#"
>
  <span class="plaque">
    <Number num="14" link="#14th" active={day_state} />
  </span>
  <div class="frame stacked">
    <div class="combo">
      <Pic filename="day14/14" width="1048" height="1183" role="presentation" />
    </div>
  </div>
</div>