---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day18;
---

<style>
  .eighteen {
    width: 70%;
    order: 2;
    margin: var(--size-4);
    margin-block-start: -25%;
    place-self: flex-end flex-start;
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-end center;
    margin-block-end: 10px;
  }

  .bg {
    background-image: linear-gradient(to bottom, #ecf4f1 30%, #fff 0%);
    margin: 20% 5% 10% 5%;
    border-radius: 10px 0 0 10px;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    z-index: -1;
  }
</style>

<style global>
  [data-theme="dark"] .eighteen {
    & .bg {
      background-image: linear-gradient(to bottom, hsl(157deg 27% 74%) 30%, hsl(0deg 0% 80%) 0%);
    }
  }
</style>

<div 
  id="18th" 
  data-day-state={day_state} 
  class="day eighteen stacked" 
  title="A delicious assortment of holiday snacks, decorated cookies, and hot cocoa with marshmallows."
>
  <span class="plaque">
    <Number num="18" link="#18th" />
  </span>
  <div class="bg"></div>
  <Pic filename="day18/18" width="1045" height="1209" role="presentation" />
</div>