---
---

<style>
  .fifteen {
    aspect-ratio: 1/1.25;
    align-self: flex-end;
    margin-inline: var(--size-4);
    background: var(--_day-bg);

    &::before {
      content: "15";
      background-image: url(/day15/15.avif);
      background-image: url(/day15/15.webp);
      background-image: url(/day15/15.png);
    }
  }
</style>

<a href="#15th" id="15th" class="day fifteen" title="">

</a>