---
---

<style>
  .twelve {
    aspect-ratio: 1/1.25;
    margin: var(--size-4) var(--size-7);
    border-radius: 1e3px 1e3px 0 0;
    background-image: url(https://doodleipsum.com/700x700/outline?12);

    &::before {
      content: "12";
    }
  }
</style>

<div class="day twelve">

</div>