---
import Imgix from '../Imgix/Imgix.astro';
---

<style>
  .one {
    --frame-bottom: 15%;
    --frame-side: 6%;

    margin: var(--size-4);

    &::before {
      content: "1";
      inset-block-start: -2px;
    }
  }

  .pane {
    border-radius: 1e3px 1e3px 0 0;
    padding-inline: var(--frame-side);
    margin-block-end: -10%;
    overflow: hidden;
    isolation: isolate;
  }

  .frame {
    margin-inline: calc(var(--frame-side) * -1);
    z-index: 2;
    /* background: linear-gradient(to bottom right, #fdfcf2, #f7fad4); */
  }

  .una_body {
    align-self: flex-end;
    margin-block-end: -15px;
    padding-inline-start: 10px;
    padding-block-end: var(--frame-bottom);
  }

  .una_hand {
    max-inline-size: 15%;
    align-self: flex-end;
    justify-self: center;
    margin-block-end: 45%; 
    margin-inline-end: 5%; 
    transform-origin: bottom center;
    transform: rotateZ(-10deg);
    animation: adam-wave 1s steps(3, end) infinite;
    z-index: 2;
  }

  .una_lower {
    margin-inline-end: -5%;
    max-inline-size: 70%;
    align-self: flex-end;
    justify-self: flex-end;
    z-index: 1;
  }

  .adam {
    align-items: flex-end;
    justify-items: flex-end;
    padding-inline-end: calc(var(--frame-side) / 2);
    padding-block-end: var(--frame-bottom);
  }

  .adam_body {
    max-inline-size: 60%;
    z-index: 2;
  }

  .adam_hand {
    align-self: center;
    justify-self: center;
    max-inline-size: 18%;
    margin-block-start: -28%;
    margin-inline-end: 30%;
    transform-origin: bottom right;
    transform: rotateZ(10deg);
    animation: adam-wave .75s steps(3, end) infinite;
  }

  .adam_wrist {
    align-self: center;
    justify-self: center;
    max-inline-size: 10%;
    margin-block-start: -15%;
    margin-inline-end: 14%;
  }

  .lights {
    max-inline-size: 30%;
    margin-inline-start: 10%;
  }

  @keyframes adam-wave {
    50% { transform: rotateZ(25deg); }
  }
</style>

<a href="#1st" id="1st" class="day one stacked" title="Una and Adam sitting in a window">
  <div class="pane stacked">
    <div class="bg">
      <Imgix uuid="vS06HQ1YTsbMKSFTIPl2iogUQP73/db4lz1sPzkAbncVH5SfL.png" loading="lazy" role="presentation" />
    </div>
    <div class="lights">
      <Imgix uuid="vS06HQ1YTsbMKSFTIPl2iogUQP73/hQWeg2Ghby3cqrtpziDI.png" loading="lazy" role="presentation" />
    </div>
    <div class="adam stacked">
      <div class="adam_wrist">
        <Imgix uuid="vS06HQ1YTsbMKSFTIPl2iogUQP73/WRUPHM0JJSMzL0fdjuAz.png" loading="lazy" role="presentation" />
      </div>
      <div class="adam_hand">
        <Imgix uuid="vS06HQ1YTsbMKSFTIPl2iogUQP73/r6J1xJYgWx4YvqSwKQKd.png" loading="lazy" role="presentation" />
      </div>
      <div class="adam_body">
        <Imgix uuid="vS06HQ1YTsbMKSFTIPl2iogUQP73/22ao6TJk9oe4iuS4pQor.png" loading="lazy" role="presentation" />
      </div>
    </div>
    <div class="una_hand">
      <Imgix uuid="vS06HQ1YTsbMKSFTIPl2iogUQP73/xLoxB4Bgjfac2Qm8SulC.png" loading="lazy" role="presentation" />
    </div>
    <div class="una_body">
      <Imgix uuid="vS06HQ1YTsbMKSFTIPl2iogUQP73/j7RL1tUhfcYrr3bNpJYS.png" loading="lazy" role="presentation" />
    </div>
    <div class="frame">
      <Imgix uuid="vS06HQ1YTsbMKSFTIPl2iogUQP73/37dwvrM3ELiGPD7ruxP6.png" loading="lazy" role="presentation" width="800" height="1020" />
    </div>
  </div>
  <span class="una_lower">
    <Imgix uuid="vS06HQ1YTsbMKSFTIPl2iogUQP73/prjF0esYqyx3lJBCGOGL.png" loading="lazy" role="presentation" />
  </span>
</a>