---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day10;
---

<style>
  .ten {
    --_bg-gradient-color-1: #f7d09a;
    --_bg-gradient-color-2: #f9dfc0;
    overflow: visible;
    max-inline-size: 80%;

    @media (--md) {
      --_day-column: 1;
    }
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-end center;
    margin-block-end: -15px;
  }

  .combo {
    mask-image: url(/day10/heart-mask.png);
    mask-size: cover;
    mask-repeat: no-repeat;
    background-image: 
      linear-gradient(to bottom left, var(--_bg-gradient-color-1) 30%, var(--_bg-gradient-color-2) 0%)
    ;
  }
</style>

<style global>
  [data-theme="dark"] {
    & .ten {
      --_bg-gradient-color-1: hsl(19deg 40% 30%);
      --_bg-gradient-color-2: hsl(19deg 40% 2%);
    }
  }
</style>

<div 
  id="10th" 
  data-day-state={day_state} 
  class="day ten stacked cq-interactive" 
  title="A decked out gingerbread house complete with sprinkles, gumdrops, and peppermints."
>
  <span class="plaque">
    <Number num="10" link="#10th" />
  </span>
  <div class="combo">
    <Pic filename="day10/10-combo" width="933" height="929" role="presentation" />
  </div>
</div>