---
---

<style>
  .fourteen {
    aspect-ratio: 2/1;
    align-self: flex-end;
    margin: 0 var(--size-4) var(--size-8) -30%;
    background-image: url(https://doodleipsum.com/700x700/outline?1);

    &::before {
      content: "14";
    }
  }
</style>

<div class="day fourteen">

</div>