---
---

<style>
  .thirteen {
    margin: var(--size-8) var(--size-6) 0 0;
    background-color: transparent;

    &::before {
      content: "13";
      background-image: url(/day13/13.avif);
      background-image: url(/day13/13.webp);
      background-image: url(/day13/13.png);
      inset-block: 1ch auto;
    }
  }

  .frame {
    block-size: 200px;
    clip-path: polygon(0 0, 100% 0, 50% 80%);
    background-color: var(--_day-bg);
    border: var(--size-3) solid #d9773e;
  }
</style>

<a href="#13th" id="13th" class="day thirteen" title="">
  <div class="frame"></div>
</a>