---
---

<style>
  .fourteen {
    align-self: flex-end;
    margin: 0 var(--size-4) var(--size-8) 0;

    &::before {
      content: "14";
    }
  }

  .frame {
    min-block-size: 150px;
    border: var(--size-2) solid #d9773e;
    background: linear-gradient(to bottom left, #427197 15%, #5181a8 0%);
  }
</style>

<a href="#14th" id="14th" class="day fourteen" title="">
  <div class="frame cq-interactive"></div>
</a>