---
---

<style>
  .twelve {
    margin: var(--size-4) var(--size-7);
    border-radius: 1e3px 1e3px 0 0;
    border: var(--size-2) solid #d9773e;
    background: var(--_day-bg);

    &::before {
      content: "12";
    }
  }

  .frame {
    min-block-size: 300px;
  }
</style>

<a href="#12th" id="12th" class="day twelve cq-interactive" title="">
  <div class="frame"></div>
</a>