---
---

<style>
  .fifteen {
    aspect-ratio: 1/1.25;
    align-self: flex-end;
    margin-inline: var(--size-4);

    &::before {
      content: "15";
    }
  }
</style>

<div class="day fifteen">

</div>