---
---

<style>
  .eleven {
    /* grid-row-start: span 1; */
    align-self: center;
    margin: var(--size-4) var(--size-8) 0 var(--size-4);

    &::before {
      content: "11";
    }

    @media (--md) {
      --_day-column: 2;
      margin: var(--size-4) var(--size-8) var(--size-4) calc(var(--size-3) * -1);
    }

    @media (--md) {
      margin-left: 0;
    }

    @media (--xl) {
      --_day-column: 3;
      --_day-height: 1;
    }
  }

  .frame {
    min-block-size: 80px;
    background-color: var(--_day-bg);
    border: var(--size-2) solid #d9773e;
  }
</style>

<a href="#11th" id="11th" class="day eleven" title="">
  <div class="frame cq-interactive"></div>
</a>