---
---

<style>
  .sixteen {
    aspect-ratio: 1/1.25;
    align-self: flex-end;
    margin-inline: var(--size-4);

    &::before {
      content: "16";
    }
  }
</style>

<div class="day sixteen">

</div>