---
---

<style>
  .fourteen {
    align-self: flex-end;
    margin: 0 var(--size-4) var(--size-8) 0;

    &::before {
      content: "14";
      background-image: url(/day14/14.avif);
      background-image: url(/day14/14.webp);
      background-image: url(/day14/14.png);
    }
  }

  .frame {
    min-block-size: 150px;
    border: var(--size-3) solid #d9773e;
    background: var(--_day-bg);
  }
</style>

<a href="#14th" id="14th" class="day fourteen" title="">
  <div class="frame cq-interactive"></div>
</a>