---
import Imgix from '../Imgix/Imgix.astro';
---

<style>
  .one {
    --frame-bottom: 15%;
    --frame-side: 7%;

    margin-inline: var(--size-1);
    margin-block: 0 var(--size-4);

    &::before {
      content: "1";
      inset-block-start: -2px;
    }

    @media (--motionOK) {
      &:is(:target, :hover, :focus-visible) {
        & .una_hand {
          transform-origin: bottom center;
          transform: rotateZ(-20deg);
          animation: una-wave 1s infinite;
        }

        & .adam_hand {
          animation: adam-wave .75s infinite;
        }
      }
    }
  }

  .pane {
    border-radius: 1e3px 1e3px 0 0;
    padding-inline: var(--frame-side);
    margin-block-end: -10%;
    overflow: hidden;
    isolation: isolate;
  }

  .frame {
    margin-inline: calc(var(--frame-side) * -1);
    aspect-ratio: 800/1020;
    z-index: 2;

    &::before {
      content: '';
      position: absolute;
      inset-block-end: -10%;
      inline-size: 86%;
      margin-inline-end: var(--frame-side);
      block-size: 10%;
      transform: skew(-45deg);
      z-index: -1;
      background: linear-gradient(to bottom, hsl(30 80% 70% / 80%), transparent);
    }
  }

  .bg {
    border-radius: 1e3px 1e3px 0 0;
    margin-block-end: var(--frame-bottom);
    background: linear-gradient(to bottom right, #fdfcf2, #f7fad4);
  }

  .bg-shadow {
    max-inline-size: 80%;
    margin-block-start: 5%;
    margin-inline-start: 4%;
  }

  .una {
    padding-block-end: var(--frame-bottom);
    margin-block-end: -15px;
  }

  .una_body {
    align-self: flex-end;
  }

  .una_hand {
    max-inline-size: 13%;
    align-self: flex-end;
    justify-self: center;
    margin-block-end: 38%; 
    margin-inline-end: 8%; 
    z-index: 2;
  }

  .una_lower {
    margin-inline-end: -5%;
    margin-block-end: -1px;
    max-inline-size: 75%;
    align-self: flex-end;
    justify-self: flex-end;
    z-index: 1;
  }

  .adam {
    display: grid;
    align-items: flex-end;
    justify-items: flex-end;
    padding-inline-end: calc(var(--frame-side) / 2);
    padding-block-end: var(--frame-bottom);
  }

  .adam_body {
    max-inline-size: 65%;
    z-index: 2;
  }

  .adam_hand {
    align-self: flex-start;
    justify-self: flex-start;
    max-inline-size: 25%;
    margin-block-start: 9%;
    margin-inline-start: -23%;
    transform-origin: bottom right;
    transform: rotateZ(20deg);
  }

  .adam_wrist {
    align-self: flex-start;
    justify-self: flex-start;
    max-inline-size: 18%;
    margin-block-start: 23%;
    margin-inline-start: -4%;
  }

  .lights {
    max-inline-size: 30%;
    margin-inline-start: 10%;
  }

  @keyframes una-wave {
    50% { transform: rotateZ(5deg); }
  }

  @keyframes adam-wave {
    50% { transform: rotateZ(35deg); }
  }
</style>

<style global>
  [data-theme="dark"] {
    & .lights {
      filter: drop-shadow(0px 0px 10px #fff9);
    }

    & .bg-shadow {
      opacity: .25;
    }

    & .bg {
      background: linear-gradient(to bottom right, hsl(55deg 3% 20%), hsl(65deg 59% 21%));
    }
  }
</style>

<a href="#1st" id="1st" class="day one stacked" title="Una and Adam sitting in a window">
  <div class="pane stacked">
    <div class="bg"></div>
    <div class="bg-shadow">
      <Imgix uuid="vS06HQ1YTsbMKSFTIPl2iogUQP73/8mTbbdLlFHHRDIjhj5uO.png" loading="lazy" role="presentation" />
    </div>
    <div class="lights">
      <Imgix uuid="vS06HQ1YTsbMKSFTIPl2iogUQP73/hQWeg2Ghby3cqrtpziDI.png" loading="lazy" role="presentation" />
    </div>
    <div class="adam">
      <div class="adam_body stacked">
        <div class="adam_wrist">
          <Imgix uuid="vS06HQ1YTsbMKSFTIPl2iogUQP73/WRUPHM0JJSMzL0fdjuAz.png" loading="lazy" role="presentation" />
        </div>
        <div class="adam_hand">
          <Imgix uuid="vS06HQ1YTsbMKSFTIPl2iogUQP73/r6J1xJYgWx4YvqSwKQKd.png" loading="lazy" role="presentation" />
        </div>
        <Imgix uuid="vS06HQ1YTsbMKSFTIPl2iogUQP73/22ao6TJk9oe4iuS4pQor.png" loading="lazy" role="presentation" />
      </div>
    </div>
    <div class="una stacked">
      <div class="una_hand">
        <Imgix uuid="vS06HQ1YTsbMKSFTIPl2iogUQP73/xLoxB4Bgjfac2Qm8SulC.png" loading="lazy" role="presentation" />
      </div>
      <div class="una_body">
        <Imgix uuid="vS06HQ1YTsbMKSFTIPl2iogUQP73/j7RL1tUhfcYrr3bNpJYS.png" loading="lazy" role="presentation" />
      </div>
    </div>
    <div class="frame">
      <Imgix uuid="vS06HQ1YTsbMKSFTIPl2iogUQP73/37dwvrM3ELiGPD7ruxP6.png" role="presentation" width="800" height="1020" />
    </div>
  </div>
  <span class="una_lower">
    <Imgix uuid="vS06HQ1YTsbMKSFTIPl2iogUQP73/prjF0esYqyx3lJBCGOGL.png" loading="lazy" role="presentation" />
  </span>
</a>