---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day18;
---

<style>
  .eighteen {
    width: 70%;
    order: 2;
    margin: var(--size-4);
    place-self: flex-end flex-start;
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-end center;
    margin-block-end: 10px;
  }

  .bg {
    background-image: linear-gradient(to bottom, #ecf4f1 30%, #fff 0%);
    margin: 2% 5% 12% 6%;
    border-radius: 10px 0 0 0;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    z-index: -1;
  }

  .steam {
    inline-size: 25%;
    aspect-ratio: 303/494;
    margin-inline-start: 15%;
    margin-block-start: -20%;

    background: url("/day18/steam_sprites.png") 800% 0%;
    background: url("/day18/steam_sprites.webp") 800% 0%;
    background-size: 800% auto;

    @nest .day:is(:hover, :focus-within) & {
      animation: steam 1.5s steps(1) infinite;
    }
  }

  @keyframes steam {
    0%  { background-position-x: 800%; }
    15% { background-position-x: 700%; }
    30% { background-position-x: 600%; }
    45% { background-position-x: 500%; }
    60% { background-position-x: 400%; }
    75% { background-position-x: 300%; }
    90% { background-position-x: 200%; }
    100% { background-position-x: 100%; }
  }
</style>

<style global>
  [data-theme="dark"] .eighteen {
    & .bg {
      background-image: linear-gradient(to bottom, hsl(157deg 27% 74%) 30%, hsl(0deg 0% 80%) 0%);
    }
  }
</style>

<div 
  id="18th" 
  class="day eighteen stacked" 
  title="A delicious assortment of holiday snacks, decorated cookies, and hot cocoa with marshmallows."
  data-day-state={day_state} 
  data-detail-position="bottom" 
  data-detail-title="Dark Theme Case Study (Terra)" 
  data-detail-description="_TBD_" 
  data-detail-url="#"
>
  <span class="plaque">
    <Number num="18" link="#18th" active={day_state} />
  </span>
  <div class="bg"></div>
  <Pic filename="day18/18" width="1045" height="1209" role="presentation" />
  <div class="steam"></div>
</div>