---
---

<style>
  .thirteen {
    aspect-ratio: 5/3;
    margin: var(--size-8) var(--size-6) 0 0;
    background-color: transparent;

    &::before {
      content: "13";
      inset-block: -2ch auto;
    }
  }

  .frame {
    block-size: 100%;
    clip-path: polygon(0 0, 100% 0, 50% 80%);
    background-color: var(--_day-bg);
  }
</style>

<div id="13th" class="day thirteen" tabindex="0">
  <div class="frame"></div>
</div>