---
import Pic from '../Pic/Pic.astro';
---

<style>
  .ten {
    --_bg-gradient-color-1: #f7d09a;
    --_bg-gradient-color-2: #f9dfc0;
    margin: var(--size-4) var(--size-4) 0 var(--size-10);

    @media (--md) {
      --_day-column: 1;
    }

    &::before {
      content: "10";
      inset-block: auto 4%;
      inset-inline: 44%;
    }

    @media (--xl) {
      --_day-height: 1;
    }
  }

  .combo {
    mask-image: url(/day10/heart-mask.png);
    mask-size: cover;
    mask-repeat: no-repeat;
    background-image: 
      linear-gradient(to bottom left, var(--_bg-gradient-color-1) 30%, var(--_bg-gradient-color-2) 0%)
    ;
  }
</style>

<style global>
  [data-theme="dark"] {
    & .ten {
      --_bg-gradient-color-1: hsl(19deg 40% 30%);
      --_bg-gradient-color-2: hsl(19deg 40% 2%);
    }
  }
</style>

<a href="#10th" id="10th" class="day ten stacked cq-interactive" title="">
  <div class="combo">
    <Pic filename="day10/10-combo" width="933" height="929" role="presentation" />
  </div>
</a>