---
---

<style>
  .nineteen {
    inline-size: 50%;
    justify-self: flex-end;
    border-radius: 1e3px 1e3px 0 0;
    border: var(--size-3) solid #d9773e;
    margin: var(--size-3) var(--size-5) -10%;
    background: var(--_day-bg);

    &::before {
      content: "19";
    }
  }

  .frame {
    min-block-size: 200px;
  }
</style>

<a href="#19th" id="19th" class="day nineteen" title="">
  <div class="frame"></div>
</a>