---
---

<style>
  .twentyfive {
    aspect-ratio: 3/2;
    border-radius: 0% 100% 100% 0% / 100% 0% 100% 0% ;
    margin: var(--size-3) var(--size-5);
    background: var(--_day-bg);

    @media (--xl) {
      grid-row: span 1;
    }

    &::before {
      content: "25";
      inset-block-start: 50%;
    }
  }
</style>

<a href="#25th" id="25th" class="day twentyfive" title="">

</a>