---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day20;
---

<style>
  .twenty {
    @media (--md) {
      --_day-column: 2;
      max-inline-size: 25rem;
    }
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-end center;
    margin-block-end: -15px;
  }

  .bg {
    border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
    background: #7dabc8;
    margin: 6% 2% 2% 3%;
  }
</style>

<style global>
  [data-theme="dark"] {
    & .twenty .bg {
      background: hsl(203 41% 14%);
    }
  }
</style>

<div 
  id="20th" 
  data-day-state={day_state} 
  class="day twenty stacked" 
  title=""
>
  <span class="plaque">
    <Number num="20" link="#20th" />
  </span>
  <div class="frame stacked">
    <div class="bg"></div>
    <Pic filename="day20/20" width="1558" height="795" role="presentation" />
  </div>
</div>