---
---

<style>
  .twenty {
    aspect-ratio: 4/1;
    border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
    margin-inline: var(--size-5) -20px;
    align-self: center;
    background-image: url(https://doodleipsum.com/700x700/outline?20);

    &::before {
      content: "20";
    }
  }
</style>

<div class="day twenty">

</div>