---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day29;
---

<style>
  .twentynine {
    width: 100%;
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-end center;
    margin-block-end: -10px;
  }

  .frame {
    min-block-size: 200px;
    background: var(--_day-bg);
    border: var(--size-2) solid #d9773e;
  }
</style>

<div 
  id="29th" 
  data-day-state={day_state} 
  class="day twentynine stacked" 
  title=""
>
  <span class="plaque">
    <Number num="29" link="#29th" />
  </span>
  <div class="frame cq-interactive"></div>
</div>