---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day23;
---

<style>
  .twentythree {
    max-inline-size: 70%;
    justify-self: flex-end;
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-start flex-start;
    margin-block-start: 20%;
  }

  .bg {
    background-image: linear-gradient(to bottom, #d8e8e3, #eff6f3);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    border-radius: 0 10px 0 0;
    z-index: -1;
    margin: 1% 2% 30% 1%;
  }
</style>

<div 
  id="23rd" 
  data-day-state={day_state} 
  class="day twentythree stacked" 
  title="Someone is playing a song on their rainbow xylophone."
>
  <span class="plaque">
    <Number num="23" link="#23rd" />
  </span>
  <div class="bg"></div>
  <Pic filename="day23/23" width="939" height="753" role="presentation" />
</div>