---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day27;
---

<style>
  .twentyseven {
    align-self: center;
    margin: 0 var(--size-4) var(--size-8) 0;
    height: 90%;

    @media (--md) {
      --_day-height: 2;
    }

    @media (--lg) {
      --_day-column: 2;
    }
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-start center;
    margin-block-start: -10px;
  }

  .frame {
    height: 80%;
    min-block-size: 150px;
    border: var(--size-2) solid #d9773e;
    background: var(--_day-bg);
  }
</style>

<div 
  id="27th" 
  data-day-state={day_state} 
  class="day twentyseven stacked" 
  title=""
>
  <span class="plaque">
    <Number num="27" link="#27th" />
  </span>
  <div class="frame cq-interactive"></div>
</div>