---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day28;
---

<style>
  .twentyeight {
    --_light-filter: none;
    --_bg-gradient-color-1: #fef7f1;
    --_bg-gradient-color-2: #ffc5b6;

    margin-block-end: var(--size-7);
    margin-inline-end: var(--size-4);
    aspect-ratio: auto;

    @media (--md) {
      --_day-column: 2;
      --_day-height: 2;
      justify-self: flex-start;
      max-inline-size: 30rem;
    }

    @media (--lg) {
      justify-self: center;
    }
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-end center;
    margin-block-end: -10px;
  }

  .frame {
    z-index: -1;
    mask-image: url(/day28/mask.png);
    mask-size: cover;
    mask-repeat: no-repeat;
    background-image: linear-gradient(to bottom, var(--_bg-gradient-color-1), var(--_bg-gradient-color-2));
  }

  .light {
    inline-size: 15%;
    justify-self: center;
    margin-block-start: 5%;
    filter: var(--_light-filter);
  }
</style>

<style global>
  [data-theme="dark"] {
    & .twentyeight .combo {
      --_light-filter: drop-shadow(0px 0px 10px #fff9);
      --_bg-gradient-color-1: hsl(19deg 40% 30%);
      --_bg-gradient-color-2: hsl(19deg 40% 2%);
    }
  }

  .twentyeight .combo > picture:first-of-type img {
    object-position: bottom;
    height: 100%;
    object-fit: contain;
  }
</style>

<div
  id="28th"
  class="day twentyeight stacked"
  aria-label="A variety of tropical plants in bloom: Schefflera, Monstera, and Begonia Maculata!"
  data-day-state={day_state}
  data-detail-position="bottom"
  data-detail-title="How we built Designcember"
  data-detail-description="Cookie gummies chupa chups lemon drops shortbread jelly sweet roll candy canes."
  data-detail-url="#"
>
  <span class="plaque">
    <Number num="28" link="#28th" active={day_state} />
  </span>
  <div class="combo stacked">
    <div class="frame stacked">
      <div class="light">
        <Pic filename="day28/light" role="presentation" />
      </div>
    </div>
    <Pic filename="day28/day28" width="1759" height="1594" role="presentation" />
  </div>
</div>
