---
---

<style>
  .twentyseven {
    aspect-ratio: 2/1;
    align-self: center;
    margin: 0 var(--size-4) var(--size-8) 0;
    background: var(--_day-bg);

    &::before {
      content: "27";
      background-image: url(/day27/27.avif);
      background-image: url(/day27/27.webp);
      background-image: url(/day27/27.png);
    }
  }
</style>

<a href="#27th" id="27th" class="day twentyseven" title="">

</a>