---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day20;
---

<style>
  .twenty {
    aspect-ratio: auto;
    
    @media (--md) {
      --_day-column: 2;
      max-inline-size: 30rem;
    }

    @media (--lg) {
      max-inline-size: 25rem;
    }
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-end center;
    margin-block-end: -15px;
  }

  .bg {
    border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
    background: #7dabc8;
    margin: 6% 2% 2% 3%;
  }

  .candles {
    place-self: flex-end flex-start;
    inline-size: 10%;
    aspect-ratio: 179/337;
    margin-inline-start: 17%;
    margin-block-end: 10%;
    border-radius: 0 0 0 75%;

    background: url("/day20/candle_sprites.png") 400% 0%;
    background: url("/day20/candle_sprites.webp") 400% 0%;
    background-size: 400% auto;

    @nest .day:is(:hover, :focus-within) & {
      animation: candles 1s steps(1) infinite;
    }
  }

  @keyframes candles {
    0%  { background-position-x: 400%; }
    25% { background-position-x: 300%; }
    50% { background-position-x: 200%; }
    75% { background-position-x: 100%; }
  }
</style>

<style global>
  [data-theme="dark"] {
    & .twenty .bg {
      background: hsl(203 41% 14%);
    }
  }
</style>

<div 
  id="20th" 
  class="day twenty stacked" 
  title="Mochi the pup snoozes on the window sill as the blinds are completely drawn. This is the only window that we can't see fully into! Two candles flicker in the night."
  data-day-state={day_state} 
  data-detail-position="bottom" 
  data-detail-title="Learn Forms/Privacy Hold" 
  data-detail-description="Cookie gummies chupa chups lemon drops shortbread jelly sweet roll candy canes." 
  data-detail-url="#"
>
  <span class="plaque">
    <Number num="20" link="#20th" active={day_state} />
  </span>
  <div class="frame stacked">
    <div class="bg"></div>
    <Pic filename="day20/20" width="1558" height="795" role="presentation" />
    <div class="candles"></div>
  </div>
</div>