---
---

<style>
  .twentyfour {
    aspect-ratio: 4/3;
    align-self: flex-end;
    background-color: transparent;
    margin-inline: var(--size-5);

    @media (--xl) {
      grid-row: span 1;
    }

    &::before {
      content: "24";
      background-image: url(/day24/24.avif);
      background-image: url(/day24/24.webp);
      background-image: url(/day24/24.png);
      inset-block: calc(50% - 2ch) 0;
    }
  }

  .frame {
    block-size: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    background-color: var(--_day-bg);
  }
</style>

<a href="#24th" id="24th" class="day twentyfour" title="">
  <div class="frame"></div>
</a>