---
---

<style>
  .twentytwo {
    width: min(100px, 50%);
    aspect-ratio: 1;
    border-radius: var(--radius-round);
    align-self: flex-end;
    justify-self: flex-end;
    margin: var(--size-3);
    background-image: url(https://doodleipsum.com/700x700/outline?22);

    &::before {
      content: "22";
    }
  }
</style>

<div class="day twentytwo">

</div>