---
---

<style>
  .twentynine {
    aspect-ratio: 3/2;
    margin: var(--size-3);
    background: var(--_day-bg);

    &::before {
      content: "29";
      background-image: url(/day29/29.avif);
      background-image: url(/day29/29.webp);
      background-image: url(/day29/29.png);
    }
  }
</style>

<a href="#29th" id="29th" class="day twentynine" title="">

</a>