---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day29;
---

<style>
  .twentynine {
    width: 100%;

    @media (--md) {
      grid-column-start: 3;
      grid-row-start: 13;
    }

    @media (--lg) {
      grid-column-start: 1;
      grid-row-start: 10;
    }
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-end center;
    margin-block-end: -10px;
  }

  .frame {
    min-block-size: 200px;
    background: var(--_day-bg);
    border: var(--size-2) solid #d9773e;
    border-radius: 0% 0% 100% 200% / 100% 0% 0% 200%;
  }
</style>

<div 
  id="29th" 
  class="day twentynine stacked" 
  title="Snow swirls around a snowglobe with the NYC cityscape inside."
  data-day-state={day_state} 
  data-detail-position="bottom" 
  data-detail-title="CSS Podcast: Interaction DevTools" 
  data-detail-description="Cookie gummies chupa chups lemon drops shortbread jelly sweet roll candy canes." 
  data-detail-url="#"
>
  <span class="plaque">
    <Number num="29" link="#29th" active={day_state} />
  </span>
  <div class="frame cq-interactive"></div>
</div>