---
---

<style>
  .twentyone {
    aspect-ratio: 1;
    align-self: center;
    margin: var(--size-3);
    margin-inline: var(--size-12) 0;
    background: var(--_day-bg);

    &::before {
      content: "21";
      background-image: url(/day21/21.avif);
      background-image: url(/day21/21.webp);
      background-image: url(/day21/21.png);
    }
  }
</style>

<a href="#21st" id="21st" class="day twentyone" title="">

</a>