---
---

<style>
  .twentythree {
    min-block-size: 300px;
    margin: var(--size-5) 0 var(--size-5) var(--size-5);

    &::before {
      content: "23";
      background-image: url(/day23/23.avif);
      background-image: url(/day23/23.webp);
      background-image: url(/day23/23.png);
      inset-block-end: 45%;
    }

    & > picture > img {
      mask-image: url(/clover.svg);
      mask-size: cover;
      background-color: var(--_day-bg);
    }
  }

  .frame {
    mask-image: url(/flower.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--_day-bg);
  }
</style>

<a href="#23rd" id="23rd" class="day twentythree stacked" title="">
  <div class="frame"></div>
</a>