---
---

<style>
  .twentynine {
    margin: var(--size-3);

    &::before {
      content: "29";
    }
  }

  .frame {
    min-block-size: 200px;
    background: var(--_day-bg);
    border: var(--size-3) solid #d9773e;
  }
</style>

<a href="#29th" id="29th" class="day twentynine" title="">
  <div class="frame cq-interactive"></div>
</a>