---
---

<style>
  .twentyone {
    aspect-ratio: 1;
    align-self: center;
    margin: var(--size-3);
    margin-inline: var(--size-12) 0;

    &::before {
      content: "21";
    }
  }
</style>

<div class="day twentyone">

</div>