---
---

<style>
  .twentysix {
    aspect-ratio: 1;
    inline-size: 50%;
    margin-block: -25% var(--size-5);
    margin-inline: auto var(--size-5);
    align-self: flex-end;
    background-color: transparent;

    @media (--xl) {
      grid-row: span 1;
    }

    &::before {
      content: "26";
    }
  }

  .frame {
    block-size: 100%;
    clip-path: polygon(100% 100%, 100% 0, 0 100%);
    background-color: var(--_day-bg);
  }
</style>

<a href="#26th" id="26th" class="day twentysix" title="">
  <div class="frame"></div>
</a>