---
---

<style>
  .two {
    aspect-ratio: 1;
    margin: var(--size-4);
    align-self: center;
    background-image: url(https://doodleipsum.com/700x700/outline?2);

    &::before {
      content: "2";
    }
  }
</style>

<div class="day two">
  
</div>