---
import Pic from '../Pic/Pic.astro';
---

<style>
  .two {
    --bg-gradient-color-1: #fff3d6;
    --bg-gradient-color-2: #f9c4af;

    margin: var(--size-11) var(--size-4);
    align-self: center;

    &::before {
      content: "2";
      content: "1";
      background-image: url(/day2/2.avif);
      background-image: url(/day2/2.webp);
      background-image: url(/day2/2.png);
      inset-block: 3% auto;
      inset-inline-start: 48%;
    }
  }

  .bg {
    margin-inline: 13% 6%;
    margin-block: 10% 25%;
    background: linear-gradient(to bottom, var(--bg-gradient-color-1), var(--bg-gradient-color-2));
  }
</style>

<style global>
  [data-theme="dark"] {
    & .two {
      --bg-gradient-color-1: hsl(42deg 20% 52%);
      --bg-gradient-color-2: hsl(17deg 46% 33%);
    }
  }
</style>

<a href="#2nd" id="2nd" class="day two stacked" title="A cat reading a book next to some sushi">
  <div class="bg"></div>
  <Pic filename="day2/frame" width="1077" height="1338" role="presentation" />
</a>