---
---

<style>
  .twentynine {
    border-radius: 1e2px 1e2px 0 0;
    background-image: url(https://doodleipsum.com/700x700/outline?29);

    &::before {
      content: "29";
    }
  }
</style>

<div class="day twentynine">

</div>