---
import Pic from '../Pic/Pic.astro';
---

<style>
  .twentysix {
    inline-size: 50%;
    margin-block: -25% var(--size-5);
    margin-inline: auto var(--size-5);
    align-self: flex-end;
    background-color: transparent;

    @media (--xl) {
      grid-row: span 1;
    }

    &::before {
      content: "26";
    }
  }

  .bg {
    background-image: linear-gradient(to bottom left, #fff 30%, #ecf4f1 0%);
    margin: -20% 5% 40% 0%;
    border-radius: 10px 0 0 10px;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    z-index: -1;
  }
</style>

<a href="#26th" id="26th" class="day twentysix stacked" title="">
  <div class="bg"></div>
  <Pic filename="day26/26" width="799" height="786" role="presentation" />
</a>