---
import Pic from '../Pic/Pic.astro';
---

<style>
  .twentytwo {
    width: min(300px, 50%);
    align-self: flex-end;
    justify-self: flex-end;
    margin: var(--size-3);

    &::before {
      content: "22";
    }
  }

  .bg {
    margin: 0 8% 15% 5%;
    background-image: linear-gradient(to bottom right, #ffefc2, white);
  }
</style>

<a href="#22nd" id="22nd" class="day twentytwo stacked" title="">
  <div class="bg"></div>
  <Pic filename="day22/22" width="624" height="659" role="presentation" />
</a>