---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day24;
---

<style>
  .twentyfour {
    --_light-filter: none;
    --_bg-gradient-color-1: #ffddcd;
    --_bg-gradient-color-2: white;

    align-self: flex-end;
    margin-inline: var(--size-5);

    @media (--md) {
      --_day-column: 2;
      max-inline-size: 30rem;
      justify-self: flex-end;
      margin-block-start: -10%;
      margin-inline-start: -40%;
    }

    @media (--lg) {
      max-inline-size: 25rem;
      justify-self: center;
      margin-block-start: 0;
      margin-inline-start: 0;
    }
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: center flex-start;
    margin-block-start: 50%;
  }

  .light {
    inline-size: 25%;
    justify-self: center;
    margin-inline-start: -15%;
    filter: var(--_light-filter);
  }

  .combo {
    mask-image: url(/day24/mask.png);
    mask-size: cover;
    mask-repeat: no-repeat;
    background-image: linear-gradient(to bottom, var(--_bg-gradient-color-1), var(--_bg-gradient-color-2));
  }
</style>

<style global>
  [data-theme="dark"] {
    & .twentyfour .combo {
      --_light-filter: drop-shadow(0px 0px 10px #fff9);
      --_bg-gradient-color-1: hsl(19deg 40% 30%);
      --_bg-gradient-color-2: hsl(19deg 40% 2%);
    }
  }

  .twentyfour .combo > picture:first-of-type img {
    object-position: bottom;
    height: 100%;
    object-fit: contain;
  }
</style>

<div 
  id="24th" 
  class="day twentyfour stacked" 
  title="An artist (Alice) draws on her tablet, painting the illustrations on this very website!"
  data-day-state={day_state} 
  data-detail-position="bottom" 
  data-detail-title="Community Highlight?" 
  data-detail-description="Cookie gummies chupa chups lemon drops shortbread jelly sweet roll candy canes." 
  data-detail-url="#"
>
  <span class="plaque">
    <Number num="24" link="#24th" active={day_state} />
  </span>
  <div class="frame stacked">
    <Pic filename="day24/frame" role="presentation" />
    <div class="combo stacked">
      <Pic filename="day24/24" width="1645" height="1175" role="presentation" />
      <div class="light">
        <Pic filename="day24/light" role="presentation" />
      </div>
    </div>
  </div>
</div>