---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day2;
---

<style>
  .two {
    --bg-gradient-color-1: #fff3d6;
    --bg-gradient-color-2: #f9c4af;
    --_frame-size: var(--size-2);

    align-self: center;
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-end center;
    margin-block-end: -15px;
  }

  .bg {
    background: linear-gradient(to bottom, var(--bg-gradient-color-1), var(--bg-gradient-color-2));
  }

  .bg_shadow {
    align-self: flex-end;
    justify-self: center;
  }

  .pane {
    min-block-size: 15rem;
    block-size: 100%;
    min-inline-size: 10rem;
    border: var(--_frame-size) solid #d9773e;
    overflow: hidden;
  }

  .cat {
    inline-size: 70%;
    justify-self: flex-end;
    align-self: flex-end;
    margin-block-start: -3%;
    margin-block-end: 35%;
    margin-inline-end: -3%;
  }

  .sushi_books {
    inline-size: 50%;
    align-self: center;
    margin-inline-start: -12%;
    margin-block-start: -15%;
  }

  .bg_books {
    inline-size: 110%;
    align-self: flex-end;
    margin-block-end: -8%;
    margin-inline-end: -2%;
  }

  .main_book {
    inline-size: 90%;
    align-self: flex-end;
    justify-self: center;
  }
</style>

<style global>
  [data-theme="dark"] {
    & .two {
      --bg-gradient-color-1: hsl(42deg 20% 52%);
      --bg-gradient-color-2: hsl(17deg 46% 33%);
    }

    & .bg_shadow {
      opacity: .2;
    }
  }
</style>

<div
  id="2nd"
  class="day two stacked"
  aria-label="A cat reading a book next to some sushi"
  data-day-state={day_state}
  data-detail-position="bottom"
  data-detail-title="The Web Almanac: CSS Chapter"
  data-detail-description="The Web Almanac is a comprehensive report on the state of the web, backed by real data and trusted web experts."
  data-detail-url="https://almanac.httparchive.org/en/2021/css"
>
  <span class="plaque">
    <Number num="2" link="#2nd" active={day_state} />
  </span>
  <div class="bg"></div>
  <div class="pane stacked">
    <div class="bg_shadow">
      <Pic filename="day2/shadow" role="presentation" />
    </div>
    <div class="sushi_books">
      <Pic filename="day2/books_back" role="presentation" />
    </div>
    <div class="bg_books">
      <Pic filename="day2/books_front" role="presentation" />
    </div>
    <div class="main_book">
      <Pic filename="day2/book_main" role="presentation" />
    </div>
    <div class="cat">
      <Pic filename="day2/cat" role="presentation" />
    </div>
  </div>
</div>
