---
---

<style>
  .twentyseven {
    aspect-ratio: 2/1;
    align-self: center;
    margin: 0 var(--size-4) var(--size-8) 0;
    background: var(--_day-bg);

    &::before {
      content: "27";
    }
  }
</style>

<div id="27th" class="day twentyseven">

</div>