---
---

<style>
  .twentynine {
    aspect-ratio: 3/2;
    margin: var(--size-3);
    background: var(--_day-bg);

    &::before {
      content: "29";
    }
  }
</style>

<a href="#29th" id="29th" class="day twentynine" title="">

</a>