---
---

<style>
  .twentyfive {
    aspect-ratio: 3/2;
    border-radius: 0 0 1e2px 0;
    margin: var(--size-3) var(--size-5);

    @media (--xl) {
      grid-row: span 1;
    }

    &::before {
      content: "25";
    }
  }
</style>

<div class="day twentyfive">

</div>