---
import Pic from '../Pic/Pic.astro';
---

<style>
  .twentythree {
    min-block-size: 300px;
    margin: var(--size-5) 0 var(--size-5) var(--size-5);

    &::before {
      content: "23";
      inset-block-end: 45%;
    }
  }

  .bg {
    background-image: linear-gradient(to bottom, #d8e8e3, #eff6f3);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    border-radius: 0 10px 0 0;
    z-index: -1;
    margin: 1% 2% 30% 1%;
  }
</style>

<a href="#23rd" id="23rd" class="day twentythree stacked" title="">
  <div class="bg"></div>
  <Pic filename="day23/23" width="939" height="753" role="presentation" />
</a>