---
---

<style>
  .twentyone {
    aspect-ratio: 1;
    align-self: center;
    margin: var(--size-3);
    margin-inline: var(--size-12) -10%;
    background-image: url(https://doodleipsum.com/700x700/outline?21);

    &::before {
      content: "21";
    }
  }
</style>

<div class="day twentyone">

</div>