---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day25;
---

<style>
  .twentyfive {
    border-radius: 0% 100% 100% 0% / 100% 0% 100% 0% ;
    margin: var(--size-3) var(--size-5);
    background: var(--_day-bg);
    border: var(--size-2) solid #d9773e;

    @media (--xl) {
      grid-row: span 1;
    }
  }

  .plaque {
    z-index: var(--layer-1);
    margin-block-start: -20px;
    margin-inline-start: -20px;
  }

  .frame {
    min-block-size: 200px;
  }
</style>

<div 
  id="25th" 
  data-day-state={day_state} 
  class="day twentyfive stacked" 
  title=""
>
  <span class="plaque">
    <Number num="25" link="#25th" />
  </span>
  <div class="frame"></div>
</div>