---
---

<style>
  .twenty {
    aspect-ratio: 4/1;
    border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
    margin-inline: var(--size-5) -20px;
    align-self: center;
    background: var(--_day-bg);

    &::before {
      content: "20";
      background-image: url(/day20/20.avif);
      background-image: url(/day20/20.webp);
      background-image: url(/day20/20.png);
    }
  }
</style>

<a href="#20th" id="20th" class="day twenty" title="">

</a>