---
---

<style>
  .twentyeight {
    border-radius: 1e2px 1e2px 0 0;
    background-image: url(https://doodleipsum.com/700x700/outline?28);

    &::before {
      content: "28";
    }
  }
</style>

<div class="day twentyeight">

</div>