---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day26;
---

<style>
  .twentysix {
    inline-size: 50%;
    margin-block: -25% var(--size-5);
    margin-inline: auto var(--size-5);
    align-self: flex-end;
    background-color: transparent;

    @media (--md) {
      inline-size: 45%;
      margin-block-start: 0;
    }
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: center flex-end;
    margin-block-start: 35%;
    margin-inline-end: 20%;
  }

  .bg {
    background-image: linear-gradient(to bottom left, #fff 30%, #ecf4f1 0%);
    margin: -20% 5% 40% 0%;
    border-radius: 10px 0 0 10px;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    z-index: -1;
  }
</style>

<div
  id="26th"
  class="day twentysix stacked"
  aria-label="A bowl of fruit: grapes, apple, and pear."
  data-day-state={day_state}
  data-detail-position="bottom"
  data-detail-title="Designcember Calculator"
  data-detail-description="Recreate the TI-30X SOLAR calculator in HTML, CSS, and JavaScript with the Window Controls Overlay API and the Ambient Light Sensor API."
  data-detail-url="https://web.dev/designcember-calculator/"
>
  <span class="plaque">
    <Number num="26" link="#26th" active={day_state} />
  </span>
  <div class="bg"></div>
  <Pic filename="day26/26" width="799" height="786" role="presentation" />
</div>
