---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day21;
---

<style>
  .twentyone {
    width: 100%;

    @media (--md) {
      --_day-height: 2;
      height: 90%;
    }

    @media (--lg) {
      --_day-height: 1;
    }
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-end center;
    margin-block-end: -15px;
  }

  .frame {
    height: 75%;
    min-block-size: 250px;
    border: var(--size-2) solid #d9773e;
    background: var(--_day-bg);

    @media (--md) {
      height: 100%;
    }

    @media (--lg) {
      height: 50%;
    }
  }
</style>

<div 
  id="21st" 
  data-day-state={day_state} 
  class="day twentyone stacked" 
  title="A cheerful friend blows an impressive bubblegum bubble as she folds her laundry into neat piles."
>
  <span class="plaque">
    <Number num="21" link="#21st" />
  </span>
  <div class="frame cq-interactive"></div>
</div>