---
---

<style>
  .twentysix {
    aspect-ratio: 4/3;
    margin: var(--size-5);
    align-self: flex-end;
    background-color: transparent;
    margin-inline: var(--size-5);

    @media (--xl) {
      grid-row: span 1;
    }

    &::before {
      content: "26";
    }
  }

  .frame {
    block-size: 100%;
    clip-path: polygon(100% 100%, 100% 0, 0 100%);
    background-color: var(--_day-bg);
  }
</style>

<div class="day twentysix">
  <div class="frame"></div>
</div>