---
---

<style>
  .twentysix {
    border-radius: 1e2px 1e2px 0 0;
    background-image: url(https://doodleipsum.com/700x700/outline?26);

    &::before {
      content: "26";
    }
  }
</style>

<div class="day twentysix">

</div>