---
---

<style>
  .two {
    aspect-ratio: 1;
    margin: var(--size-4);
    align-self: center;
    background: var(--_day-bg);

    &::before {
      content: "2";
    }
  }
</style>

<a href="#2nd" id="2nd" class="day two" title="">
  
</a>