---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day22;
---

<style>
  .twentytwo {
    width: min(300px, 50%);
    align-self: flex-end;
    justify-self: flex-start;
    margin: var(--size-3);
    margin-block-start: -100%;
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-end center;
    margin-block-start: -15px;
  }

  .bg {
    margin: 0 8% 15% 5%;
    background-image: linear-gradient(to bottom right, #ffefc2, white);
  }
</style>

<div 
  id="22nd" 
  data-day-state={day_state} 
  class="day twentytwo stacked" 
  title="A green mitten sits on the counter, waiting to be put on for outdoor adventures!"
>
  <span class="plaque">
    <Number num="22" link="#22nd" />
  </span>
  <div class="bg"></div>
  <Pic filename="day22/22" width="624" height="659" role="presentation" />
</div>