---
---

<style>
  .twentyfive {
    aspect-ratio: 3/2;
    grid-row: span 1;
    border-radius: 0 0 1e2px 0;
    margin-inline: var(--size-5);
    background-image: url(https://doodleipsum.com/700x700/outline?25);

    &::before {
      content: "25";
    }
  }
</style>

<div class="day twentyfive">

</div>