---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
---

<style>
  .twentytwo {
    width: min(300px, 50%);
    align-self: flex-end;
    justify-self: flex-end;
    margin: var(--size-3);

    @media (--xl) {
      --_day-height: 1;
      grid-row: 10 / span 1;
    }
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-start center;
    margin-block-start: -15px;
  }

  .bg {
    margin: 0 8% 15% 5%;
    background-image: linear-gradient(to bottom right, #ffefc2, white);
  }
</style>

<div href="#22nd" id="22nd" class="day twentytwo stacked" title="">
  <span class="plaque">
    <Number num="22" link="#22nd" />
  </span>
  <div class="bg"></div>
  <Pic filename="day22/22" width="624" height="659" role="presentation" />
</div>