---
---

<style>
  .twentyeight {
    margin-block-end: var(--size-4);
    margin-inline-end: var(--size-4);
    aspect-ratio: 1;
    background: var(--_building-color);

    &::before {
      content: "28";
      background-image: url(/day28/28.avif);
      background-image: url(/day28/28.webp);
      background-image: url(/day28/28.png);
    }
  }

  .frame {
    block-size: 100%;
    mask-image: url(/flower.svg);
    mask-size: cover;
    background-color: var(--_day-bg);
  }
</style>

<a href="#28th" id="28th" class="day twentyeight" title="">
  <div class="frame"></div>
</a>