---
---

<style>
  .twentyseven {
    align-self: center;
    margin: 0 var(--size-4) var(--size-8) 0;
    height: 90%;

    &::before {
      content: "27";
    }

    @media (--md) {
      --_day-height: 2;
    }

    @media (--lg) {
      --_day-column: 2;
    }
  }

  .frame {
    height: 80%;
    min-block-size: 150px;
    border: var(--size-2) solid #d9773e;
    background: var(--_day-bg);
  }
</style>

<a href="#27th" id="27th" class="day twentyseven" title="">
  <div class="frame cq-interactive"></div>
</a>