---
import Imgix from '../Imgix/Imgix.astro';
---

<style>
  .two {
    --bg-gradient-color-1: #fff3d6;
    --bg-gradient-color-2: #f9c4af;

    aspect-ratio: 1;
    margin: var(--size-11) var(--size-4);
    align-self: center;

    &::before {
      content: "2";
    }
  }

  .frame {
    isolation: isolate;

    &::before {
      content: '';
      position: absolute;
      inset-inline-end: 2%;
      inset-block-end: -15%;
      z-index: -1;
      inline-size: 95%;
      block-size: 17.5%;
      background: url("https://web-dev.imgix.net/image/vS06HQ1YTsbMKSFTIPl2iogUQP73/InRybgKEirj5fzkOKXu4.png?q=50&auto=format&w=400");
      background-size: contain;
    }
  }

  .bg {
    margin-inline: 7% 6%;
    margin-block-start: 10%;
    background: linear-gradient(to bottom, var(--bg-gradient-color-1), var(--bg-gradient-color-2));
  }
</style>

<style global>
  [data-theme="dark"] {
    & .two {
      --bg-gradient-color-1: hsl(42deg 20% 52%);
      --bg-gradient-color-2: hsl(17deg 46% 33%);
    }
  }
</style>

<a href="#2nd" id="2nd" class="day two stacked" title="A cat reading a book next to some sushi">
  <div class="bg"></div>
  <div class="frame">
    <Imgix uuid="vS06HQ1YTsbMKSFTIPl2iogUQP73/iAyOQB1JjTBUs5IHxMzW.png" width="800" height="994" role="presentation" />
  </div>
</a>