---
---

<style>
  .day {
    contain: style layout inline-size;
    display: grid;
    place-items: center;
    aspect-ratio: var(--aspect-box);
  }

  @container (min-width: 850px) {
    .day {
      background: var(--grape-5);
    }
  }
</style>

<div class="day">
  Day 2
</div>