---
---

<style>
  .twentythree {
    aspect-ratio: 1;
    background: var(--_building-color);
    margin: var(--size-5) -10% var(--size-5) var(--size-5);

    &::before {
      content: "23";
      inset-block-end: 45%;
    }

    & > picture > img {
      mask-image: url(/clover.svg);
      mask-size: cover;
      background-color: var(--_day-bg);
    }
  }
</style>

<div class="day twentythree">
  <picture>
    <img height="350" width="350" src="https://doodleipsum.com/350x350/outline?23" alt="">
  </picture>
</div>