---
---

<style>
  .twentyfour {
    border-radius: 1e2px 1e2px 0 0;
    background-image: url(https://doodleipsum.com/700x700/outline?24);

    &::before {
      content: "24";
    }
  }
</style>

<div class="day twentyfour">

</div>