---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day27;
---

<style>
  .twentyseven {
    width: 100%;

    @media (--md) {
      --_day-height: 2;
      grid-row: 11 / 13;
      grid-column: 3 / 3;
    }

    @media (--lg) {
      --_day-column: 2;
      grid-row: 8 / 10;
      grid-column: 1 / 3;
    }
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-end center;
    margin-block-end: -10px;
  }

  .frame {
    height: 80%;
    min-block-size: 150px;
    border: var(--size-2) solid #d9773e;
    background: var(--_day-bg);

    @media (--md) {
      min-block-size: 500px;
    }
    
    @media (--lg) {
      min-block-size: 350px;
    }
  }
</style>

<div 
  id="27th" 
  data-day-state={day_state} 
  class="day twentyseven stacked" 
  title=""
>
  <span class="plaque">
    <Number num="27" link="#27th" />
  </span>
  <div class="frame cq-interactive"></div>
</div>