---
---

<style>
  .thirty {
    grid-column: span 2;
    margin-inline: var(--size-5);

    &::before {
      content: "30";
      background-image: url(/day30/30.avif);
      background-image: url(/day30/30.webp);
      background-image: url(/day30/30.png);
    }
  }

  .frame {
    min-block-size: 100px;
    background: var(--_day-bg);
    border: var(--size-3) solid #d9773e;
  }
</style>

<a href="#30th" id="30th" class="day thirty" title="">
  <div class="frame cq-interactive"></div>
</a>