---
---

<style>
  .thirty {
    aspect-ratio: 5/1;
    grid-column: span 2;
    margin-inline: var(--size-5);
    background-image: url(https://doodleipsum.com/700x700/outline?30);

    &::before {
      content: "30";
    }
  }
</style>

<div class="day thirty">

</div>