---
---

<style>
  .three {
    aspect-ratio: 1/1.25;
    margin: var(--size-4);
    align-self: end;
    background-image: url(https://doodleipsum.com/700x800/outline?3);

    &::before {
      content: "3";
    }
  }
</style>

<div class="day three">
  
</div>