---
---

<style>
  .thirty {
    aspect-ratio: 5/1;
    grid-column: span 2;
    margin-inline: var(--size-5);
    background: var(--_day-bg);

    &::before {
      content: "30";
    }
  }
</style>

<div id="30th" class="day thirty" tabindex="0">

</div>