---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day31;
---

<style>
  .thirtyone {
    --_bg-gradient-color-1: #fffffc;
    --_bg-gradient-color-2: #fff7d3;
    
    align-self: flex-end;
    margin: var(--size-3);

    @media (--sm) {
      grid-column-start: 2;
    }
    
    @media (--md) {
      grid-column: 2 / -1;
    }

    @media (--lg) {
      grid-column: 3 / -1;
    }
  }

  .plaque {
    z-index: var(--layer-1);
    margin-block-start: 30%;
  }

  .bg {
    z-index: -1;
    mask-image: url(/day31/mask.png);
    mask-size: cover;
    mask-repeat: no-repeat;
    background-image: linear-gradient(to bottom, var(--_bg-gradient-color-1), var(--_bg-gradient-color-2));
  }
</style>

<style global>
  [data-theme="dark"] {
    & .thirtyone .combo {
      --_bg-gradient-color-1: hsl(19deg 40% 30%);
      --_bg-gradient-color-2: hsl(19deg 40% 2%);
    }
  }
</style>

<div 
  id="31st" 
  data-day-state={day_state} 
  class="day thirtyone stacked" 
  title=""
>
  <span class="plaque">
    <Number num="31" link="#31st" />
  </span>
  <div class="combo stacked">
    <div class="bg"></div>
    <Pic filename="day31/combo" width="1872" height="1928" role="presentation" />
  </div>
</div>