---
---

<style>
  .thirty {
    margin-inline: var(--size-5);

    @media (--md) {
      --_day-column: 2;
    }

    &::before {
      content: "30";
    }
  }

  .frame {
    min-block-size: 100px;
    background: var(--_day-bg);
    border: var(--size-2) solid #d9773e;
  }
</style>

<a href="#30th" id="30th" class="day thirty" title="">
  <div class="frame cq-interactive"></div>
</a>