---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day30;
---

<style>
  .thirty {
    width: 100%;

    @media (--md) {
      --_day-column: 2;
    }

    @media (--lg) {
      --_day-column: 3;
    }
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-end center;
    margin-block-end: -10px;
  }

  .frame {
    min-block-size: 100px;

    @media (--md) {
      min-block-size: 175px;
    }
  }

  .bg {
    background: linear-gradient(to bottom, white, 25%, #ffebd9);
    margin: 2% 5% 0 5%;
  }
</style>

<style global>
  [data-theme="dark"] {
    & .thirty .bg {
      background: linear-gradient(to bottom, hsl(0deg 0% 60%), 25%, hsl(28deg 20% 53%));
    }
  }
</style>

<div 
  id="30th" 
  class="day thirty stacked" 
  title="A colorful holiday feast to end the year with loved ones with."
  data-day-state={day_state} 
  data-detail-position="bottom" 
  data-detail-title="Community Highlight?" 
  data-detail-description="Cookie gummies chupa chups lemon drops shortbread jelly sweet roll candy canes." 
  data-detail-url="#"
>
  <span class="plaque">
    <Number num="30" link="#30th" active={day_state} />
  </span>
  <div class="frame stacked">
    <div class="bg"></div>
    <Pic filename="day30/30" role="presentation" />
  </div>
</div>