---
---

<style>
  .three {
    margin: var(--size-4);
    background: var(--_day-bg);
    border: var(--size-3) solid #d9773e;
    grid-row-start: span 2;
    height: 90%;

    &::before {
      content: "3";
      background-image: url(/day3/3.avif);
      background-image: url(/day3/3.webp);
      background-image: url(/day3/3.png);
    }
  }
</style>

<a href="#3rd" id="3rd" class="day three" title="">
  
</a>