---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day3;
---

<style>
  .three {
    background: var(--_day-bg);
    border: var(--size-2) solid #d9773e;
    height: 90%;
    block-size: 300px;
    inline-size: 100%;

    @media (--md) {
      height: 100%;
      grid-row: 1 / span 2;
      grid-column-start: 3;
      --_day-height: 2;
    }
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-end center;
    margin-block-end: -15px;
  }
</style>

<div 
  id="3rd" 
  data-day-state={day_state} 
  class="day three stacked" 
  title=""
>
  <span class="plaque">
    <Number num="3" link="#3rd" />
  </span>
</div>