---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day31;
---

<style>
  .thirtyone {
    --_bg-gradient-color-1: #fffffc;
    --_bg-gradient-color-2: #fff7d3;

    align-self: flex-end;
    margin: var(--size-3);
    margin-block-end: 30%;

    @media (--sm) {
      grid-column-start: 2;
      margin-block-end: var(--size-3);
    }

    @media (--md) {
      grid-column: 2 / -1;
      max-inline-size: 30rem;
      justify-self: flex-end;
    }

    @media (--lg) {
      grid-column: 3 / -1;
    }
  }

  .plaque {
    z-index: var(--layer-1);
    margin-block-start: 30%;
  }

  .bg {
    z-index: -1;
    mask-image: url(/day31/mask.png);
    mask-size: cover;
    mask-repeat: no-repeat;
    background-image: linear-gradient(to bottom, var(--_bg-gradient-color-1), var(--_bg-gradient-color-2));
  }
</style>

<style global>
  [data-theme="dark"] {
    & .thirtyone .combo {
      --_bg-gradient-color-1: hsl(19deg 40% 30%);
      --_bg-gradient-color-2: hsl(19deg 40% 2%);
    }
  }
</style>

<div
  id="31st"
  class="day thirtyone stacked"
  aria-label="Happy New Year's Eve! A trio of characters celebrate with party hats, a trumpet, sparklers, and confetti."
  data-day-state={day_state}
  data-detail-position="top"
  data-detail-title=""
  data-detail-description="Cookie gummies chupa chups lemon drops shortbread jelly sweet roll candy canes."
  data-detail-url="#"
>
  <span class="plaque">
    <Number num="31" link="#31st" active={day_state} />
  </span>
  <div class="combo stacked">
    <div class="bg"></div>
    <Pic filename="day31/combo" width="1872" height="1928" role="presentation" />
  </div>
</div>
