---
---

<style>
  .three {
    aspect-ratio: 1/1.25;
    margin: var(--size-4);
    align-self: end;
    background: var(--_day-bg);

    &::before {
      content: "3";
    }
  }
</style>

<div id="3rd" class="day three" tabindex="0">
  
</div>