---
---

<style>
  .thirtyone {
    border-radius: 1e2px 1e2px 0 0;
    background-image: url(https://doodleipsum.com/700x700/outline?31);

    &::before {
      content: "31";
    }
  }
</style>

<div class="day thirtyone">

</div>