---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day3;
---

<style>
  .three {
    --_frame-bottom: 15%;
    --_frame-side: 7%;
    --_frame-size: var(--size-2);

    --_light-filter: none;
    --_bg-shadow-opacity: 1;
    --_bg-gradient-color-1: #f3c569;
    --_bg-gradient-color-2: #fbecc0;
    
    height: 90%;
    block-size: 300px;
    container: size;
    inline-size: 100%;
    padding: 0;
    min-width: 160px;
    max-height: 700px;
    max-width: 500px;

    @media (--md) {
      height: 100%;
      grid-row: 1 / span 2;
      grid-column-start: 3;
      --_day-height: 2;
      width: 80%;
    }

    @media (--lg) {
      width: 90%;
    }
  }

  .plaque {
    z-index: var(--layer-2);
    place-self: flex-end center;
    margin-block-end: 1.5rem;
  }

  .pane {
    border-radius: var(--_border-radius);
    border: var(--_frame-size) solid #d9773e;
    background: linear-gradient(-20deg, var(--_bg-gradient-color-1) 80%, var(--_bg-gradient-color-2) 80%);
    overflow: hidden;
    isolation: isolate;
    container: size;
    align-items: end;
    margin-bottom: 2rem;
  }

  .person {
    bottom: 20%;
    left: -25%;
    width: 150%;
    position: relative;

    @container (min-width: 200px) {
      left: -10%;
      width: 120%;
    }

    @container (min-width: 300px) {
      width: 100%;
      left: 0;
      bottom: 10%;
      max-width: none;
    }
  }

  .bg {
    position: absolute;
    top: -5%;
    width: 110%;
    right: -10%;
    z-index: -1;
  }

  .food {
    position: relative;
    z-index: 2;
  }

  .bowl,
  .dimsum1,
  .dimsum2,
  .scallion {
    width: 60%;
    min-width: 120px;
    max-width: 180px;
    position: absolute;
  }

  .scallion {
    min-width: 70px;
    width: 30%;
  }

  .dimsum2 {
    bottom: 20px;
    left: -10px;

    @container (min-width: 300px) {
      bottom: -10px;
    }
  }

  .dimsum1 {
    right: -10%;
    bottom: 0;

    @container (min-width: 300px) {
      bottom: 200px;
      right: unset;
      left: -20%;
    }
  }

  .bowl {
    bottom: 110px;
    right: -20px;
    width: 25%;
    min-width: 90px;

    @container (min-width: 300px) {
      right: 12%;
      width: 35%;
      bottom: 4vw;
    }
  }

  .scallion {
    bottom: 10%;
    left: -5px;
    max-width: 110px;

    @container (min-width: 300px) {
      left: unset;
      right: 10px;
    }
  }

  .right-arm {
    width: 55%;
    right: -10px;
    top: 34%;
    position: absolute;
    transform-origin: bottom right;
  }

  .pane:hover .right-arm {
    animation: eat 1s infinite linear alternate;
  }

  .table {
    background-color: #8c2c00;
    width: 200%;
    left: -50%;
    height: 200px;
    transform: rotate(-5deg);
    position: absolute;
    display: block;
    bottom: -20px;
    z-index: -1;
  }

  @keyframes eat {
    to {
      transform: rotate(5deg)
    }
  }
</style>

<style global>
  [data-theme="dark"] {
    & .three {
      --_light-filter: drop-shadow(0px 0px 10px #fff9);
      --_bg-shadow-opacity: .25;
      --_bg-gradient-color-1: hsl(94deg 31% 13%);
      --_bg-gradient-color-2: hsl(49deg 35% 24%);
    }
  }
</style>

<div 
  id="3rd" 
  class="day three stacked combo cq-interactive" 
  title="A smiling chef whips up delicious batches of dim sum, as fragrant steam rises through the air."
  data-day-state={day_state} 
  data-detail-position="bottom" 
  data-detail-title="Design in the Browser: Container Queries" 
  data-detail-description="Cookie gummies chupa chups lemon drops shortbread jelly sweet roll candy canes." 
  data-detail-url="https://web.dev/shows/designing-in-the-browser/" 
>
  <span class="plaque">
    <Number num="3" link="#3rd" active={day_state} />
  </span>
  
  <div class="pane stacked">
    <div class="person">
      <div class="person-ill">
        <Pic filename="day3/dimsum_main" role="presentation" />
      </div>
      <div class="right-arm">
        <Pic filename="day3/character" role="presentation" />
      </div>
    </div>
    <div class="food">
      <div class="bowl">
        <Pic filename="day3/bowl" role="presentation" />
      </div>
      <div class="dimsum2">
        <Pic filename="day3/dimsum2" role="presentation" />
      </div>
      <div class="dimsum1">
        <Pic filename="day3/dimsum1" role="presentation" />
      </div>
      <div class="scallion">
        <Pic filename="day3/scallion" role="presentation" />
      </div>
      <div class="table"></div>
    </div>
    <div class="bg">
      <Pic filename="day3/steam_big" role="presentation" />
    </div>
  </div>
</div>