---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day3;
---

<style>
  .three {
    background: var(--_day-bg);
    border: var(--size-2) solid #d9773e;
    height: 90%;
    block-size: 300px;
    inline-size: 100%;

    @media (--md) {
      height: 100%;
      grid-row: 1 / span 2;
      grid-column-start: 3;
      --_day-height: 2;
    }

    @media (--lg) {
      width: 90%;
    }
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-end center;
    margin-block-end: -15px;
  }
</style>

<div 
  id="3rd" 
  class="day three stacked" 
  title="A smiling chef whips up delicious batches of dim sum, as fragrant steam rises through the air."
  data-day-state={day_state} 
  data-detail-position="bottom" 
  data-detail-title="Design in the Browser: Container Queries" 
  data-detail-description="Cookie gummies chupa chups lemon drops shortbread jelly sweet roll candy canes." 
  data-detail-url="https://web.dev/shows/designing-in-the-browser/" 
>
  <span class="plaque">
    <Number num="3" link="#3rd" active={day_state} />
  </span>
</div>