---
---

<style>
  .three {
    border-radius: 1e2px;
    aspect-ratio: 1;
    min-block-size: auto;
    align-self: end;
    background-image: url(https://doodleipsum.com/700x800/outline?3);

    &::before {
      content: "3";
    }
  }
</style>

<div class="day three">
  
</div>