---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day30;
---

<style>
  .thirty {
    width: 100%;
    aspect-ratio: auto;

    @media (--md) {
      --_day-column: 2;
    }

    @media (--lg) {
      --_day-column: 3;
    }
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-end center;
    margin-block-end: -10px;
  }

  .frame {
    min-block-size: 100px;

    @media (--md) {
      min-block-size: 175px;
    }
  }

  .pane {
    border: var(--size-2) solid #d9773e;
    overflow: hidden;
  }

  .bg {
    background: radial-gradient(circle at top center, #fffdfa, 25%, #ffebd9);
  }

  .table {
    max-inline-size: 25%;
    margin-block-start: -2%;
  }

  .table_runner {
    margin-block-end: -5%;
    block-size: 105%;
    inline-size: 100%;
  }

  .orange {
    place-self: center flex-start;
    max-inline-size: 8%;
    margin-inline-start: -2%;
    margin-block-start: -10%;
  }

  .drink_1 {
    place-self: flex-start flex-end;
    max-inline-size: 7%;
    margin-inline-end: 1%;
    margin-block-start: -5%;
  }

  .drink_2 {
    place-self: flex-start flex-end;
    max-inline-size: 11%;
    margin-inline-end: 5%;
    margin-block-start: -5%;
  }

  .asparagus {
    max-inline-size: 40%;
    margin-block-start: -8%;
    margin-inline-start: 10%;
  }

  .salmon {
    place-self: flex-end flex-start;
    max-inline-size: 35%;
    margin-block-end: -3%;
    margin-inline-start: -2%;
  }

  .charcuterie {
    place-self: flex-end flex-end;
    max-inline-size: 55%;
    margin-block-end: -2%;
    margin-inline-end: -5%;
  }

  .wreath {
    place-self: center center;
    max-inline-size: 60%;
    margin-block: -4% -2%;
    block-size: 115%;
  }

  .fit-frame-height {
    block-size: 100%;
    inline-size: auto;
    object-fit: cover;
  }
</style>

<style global>
  [data-theme="dark"] {
    & .thirty .bg {
      background: linear-gradient(to bottom, hsl(0deg 0% 60%), 25%, hsl(28deg 20% 53%));
    }
  }
</style>

<div
  id="30th"
  class="day thirty stacked"
  aria-label="A colorful holiday feast to end the year with loved ones with."
  data-day-state={day_state}
  data-detail-position="bottom"
  data-detail-title="Community Highlight?"
  data-detail-description="Cookie gummies chupa chups lemon drops shortbread jelly sweet roll candy canes."
  data-detail-url="#"
>
  <span class="plaque">
    <Number num="30" link="#30th" active={day_state} />
  </span>
  <div class="frame stacked cq-interactive">
    <div class="pane stacked">
      <div class="bg"></div>
      <div class="table">
        <Pic filename="day30/table" role="presentation" />
      </div>  
      <div class="table_runner">
        <picture>
          <source srcset="/day30/table_runner.avif" type="image/avif">
          <source srcset="/day30/table_runner.webp" type="image/webp">
          <img class="fit-frame-height" alt="" loading="lazy" decoding="async" role="presentation" src="/day30/table_runner.png" height="725" width="1901">
        </picture>
      </div>
      <div class="orange">
        <Pic filename="day30/orange" role="presentation" />
      </div>
      <div class="drink_1">
        <Pic filename="day30/drink_1" role="presentation" />
      </div>  
      <div class="drink_2">
        <Pic filename="day30/drink_2" role="presentation" />
      </div>
      <div class="asparagus">
        <Pic filename="day30/asparagus" role="presentation" />
      </div>
      <div class="salmon">
        <Pic filename="day30/salmon" role="presentation" />
      </div>
      <div class="charcuterie">
        <Pic filename="day30/charcuterie" role="presentation" />
      </div>
      <div class="wreath">
        <picture>
          <source srcset="/day30/wreath.avif" type="image/avif">
          <source srcset="/day30/wreath.webp" type="image/webp">
          <img class="fit-frame-height" alt="" loading="lazy" decoding="async" role="presentation" src="/day30/wreath.png">
        </picture>
      </div>
    </div>
  </div>
</div>
