---
---

<style>
  .thirtyone {
    aspect-ratio: 1;
    align-self: flex-end;
    margin: var(--size-3);
    background-color: transparent;

    &::before {
      content: "31";
    }
  }

  .frame {
    block-size: 100%;
    mask-image: url(/star.svg);
    mask-size: cover;
    background-color: var(--_day-bg);
  }
</style>

<div id="31st" class="day thirtyone" tabindex="0">
  <div class="frame"></div>
</div>