---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day30;
---

<style>
  .thirty {
    width: 100%;

    @media (--md) {
      --_day-column: 2;
    }

    @media (--lg) {
      --_day-column: 3;
    }
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-end center;
    margin-block-end: -10px;
  }

  .frame {
    min-block-size: 100px;
    background: var(--_day-bg);
    border: var(--size-2) solid #d9773e;

    @media (--md) {
      min-block-size: 175px;
    }
  }
</style>

<div 
  id="30th" 
  data-day-state={day_state} 
  class="day thirty stacked" 
  title="A colorful holiday feast to end the year with loved ones with."
>
  <span class="plaque">
    <Number num="30" link="#30th" />
  </span>
  <div class="frame cq-interactive"></div>
</div>