---
---

<style>
  .four {
    grid-row: span 2;
    background-image: url(https://doodleipsum.com/350x700/outline?4);

    &::before {
      content: "4";
    }
  }
</style>

<div class="day four">
  
</div>