---
import Pic from '../Pic/Pic.astro';
---

<style>
  .four {
    order: 2;
    inline-size: min(300px, 90%);
    align-self: flex-end;
    margin-block-start: -20%;

    &::before {
      content: "4";
      inset-block: auto 5%;
      background-image: url(/day4/4.avif);
      background-image: url(/day4/4.webp);
      background-image: url(/day4/4.png);
    }
  }
</style>

<style global>
  [data-theme="dark"] {
    & .four {}
  }
</style>

<a href="#4th" id="4th" class="day four cq-interactive" title="An untitled goose on a window sill with a couple plants">
  <div class="frame">
    <Pic filename="day4/frame" width="1379" height="999" role="presentation" />
  </div>
</a>