---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day4;
---

<style>
  .four {
    order: 2;
    aspect-ratio: auto;
    inline-size: min(400px, 90%);
    align-self: flex-end;
    margin-block-start: -20%;
    --bg-gradient-color-1: #b4cda3;
    --bg-gradient-color-2: #c5ddb0;
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-end center;
    margin-block-end: -5px;
  }

  .frame {
    mask-image: url(/day4/day4-shape-mask.png);
    mask-size: contain;
    mask-repeat: no-repeat;
    z-index: -1;
    margin: 0 0 4% 6%;
  }

  .bg {
      background: linear-gradient(to bottom, var(--bg-gradient-color-1), var(--bg-gradient-color-2));
  }
</style>

<style global>
  [data-theme="dark"] {
    & .four {
      --bg-gradient-color-1: hsl(96deg 30% 12%);
      --bg-gradient-color-2: hsl(92deg 40% 28%);
    }
  }
</style>

<div
  id="4th"
  class="day four stacked"
  aria-label="A pilea, snake plant, and untitled goose hang out on a window ledge."
  data-day-state={day_state}
  data-detail-position="bottom"
  data-detail-title="Community Highlight: _TBD_"
  data-detail-description="Cookie gummies chupa chups lemon drops shortbread jelly sweet roll candy canes."
  data-detail-url="#"
>
  <span class="plaque">
    <Number num="4" link="#4th" active={day_state} />
  </span>
  <div class="frame stacked">
    <div class="bg"></div>
    <div class="bg-shadow"></div>
  </div>
  <Pic filename="day4/day4" width="1262" height="914" role="presentation" />
</div>
