---
import Imgix from '../Imgix/Imgix.astro';
---

<style>
  .four {
    order: 2;
    aspect-ratio: 4/3;
    inline-size: min(300px, 90%);
    align-self: flex-end;
    margin-block-start: -40%;

    &::before {
      content: "4";
      inset-block: auto 5%;
    }
  }

  .frame {
    aspect-ratio: 4/3;
  }
</style>

<a href="#4th" id="4th" class="day four" title="An untitled goose on a window sill with a couple plants">
  <div class="frame">
    <Imgix uuid="vS06HQ1YTsbMKSFTIPl2iogUQP73/DdSyAI12MS0p0eOP1lpS.png" width="800" height="580" role="presentation" />
  </div>
</a>