---
---

<style>
  .four {
    aspect-ratio: 4/3;
    align-self: flex-end;
    margin: var(--size-3);
    background-color: transparent;

    @media (--lg) {
      grid-column: 1;
      grid-row: 2;
      margin: var(--size-3) var(--size-3) -5% var(--size-3);
    }

    @media (--xl) {
      grid-column: 4;
      grid-row: 1;
      margin: var(--size-5) var(--size-6) -15% var(--size-5);
    }

    &::before {
      content: "4";
      inset-block: -2ch auto;
    }

    & > picture > img {
      max-block-size: 100%;
      max-inline-size: 100%;
      object-fit: cover;
      clip-path: polygon(0 0, 100% 0, 100% 100%);
      background-color: var(--_day-bg);
    }
  }
</style>

<div class="day four">
  <picture>
    <img height="200" width="350" src="https://doodleipsum.com/350x350/outline?4" alt="">
  </picture>
</div>