---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day5;
---

<style>
  .five {
    inline-size: min(400px, 80%);
    justify-self: flex-end;
    margin-block-end: -20%;
    align-items: flex-start;
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-end;
    margin-block-end: 25px;
    margin-inline-end: 60px;
  }

  .frame {
    background-color: #fdffd8;
    margin: 10% 10% 5% 0;
    border-radius: 0 10px 0 0;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    z-index: -1;
  }
</style>

<style global>
  [data-theme="dark"] .five {
    & .frame {
      background-color: hsl(63deg 40% 26%);
    }
  }
</style>

<div 
  id="5th" 
  data-day-state={day_state} 
  class="day five stacked" 
  title=""
>
  <span class="plaque">
    <Number num="5" link="#5th" />
  </span>
  <div class="combo stacked">
    <div class="frame"></div>
    <Pic filename="day5/combo" width="1193" height="1003" role="presentation" />
  </div>
</div>