---
import Pic from '../Pic/Pic.astro';
---

<style>
  .five {
    inline-size: min(300px, 75%);
    justify-self: flex-end;
    margin-inline-end: 5%;
    margin-block-end: -20%;

    &::before {
      content: "5";
      inset-block: auto 20%;
      inset-inline: auto 25%;
    }
  }

  .frame {
    background-color: #fdffd8;
    margin: 10% 10% 5% 0;
    border-radius: 0 10px 0 0;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    z-index: -1;
  }
</style>

<style global>
  [data-theme="dark"] {
    & .frame {
      background-color: hsl(63deg 40% 26%);
    }
  }
</style>

<a href="#5th" id="5th" class="day five stacked" title="">
  <div class="frame"></div>
  <Pic filename="day5/combo" width="1193" height="1003" role="presentation" />
</a>