---
import Imgix from '../Imgix/Imgix.astro';
---

<style>
  .five {
    aspect-ratio: 4/3;
    inline-size: min(300px, 75%);
    justify-self: flex-end;
    margin-inline-end: 5%;
    margin-block-end: -20%;

    &::before {
      content: "5";
      inset-block: 12% auto;
      inset-inline: auto 2%;
    }
  }

  .frame {
    isolation: isolate;
    aspect-ratio: 4/3;

    &::before {
      content: '';
      position: absolute;
      inset-inline-end: 2%;
      z-index: -1;
      inline-size: 95%;
      block-size: 85%;
      inset-block-end: -10%;
      background: url("https://web-dev.imgix.net/image/vS06HQ1YTsbMKSFTIPl2iogUQP73/dM5y1VddJpuldssCcTVv.png?q=50&auto=format&w=400");
      background-size: contain;
    }
  }
</style>

<style global>
  [data-theme="dark"] {
    & .five {}
  }
</style>

<a href="#5th" id="5th" class="day five" title="">
  <div class="frame">
    <Imgix uuid="vS06HQ1YTsbMKSFTIPl2iogUQP73/HV0OeL2idLWzEY2rtIC4.png" width="800" height="580" role="presentation" />
  </div>
</a>