---
import Pic from '../Pic/Pic.astro';
---

<style>
  .five {
    aspect-ratio: 4/3;
    inline-size: min(300px, 75%);
    justify-self: flex-end;
    margin-inline-end: 5%;
    margin-block-end: -20%;

    &::before {
      content: "5";
      inset-block: 12% auto;
      inset-inline: auto 2%;
    }
  }
</style>

<style global>
  [data-theme="dark"] {
    & .five {}
  }
</style>

<a href="#5th" id="5th" class="day five" title="">
  <div class="frame">
    <Pic filename="day5/frame" width="1086" height="973" role="presentation" />
  </div>
</a>