---
---

<style>
  .five {
    aspect-ratio: 4/3;
    width: min(300px, 90%);
    margin: var(--size-3);
    background-color: transparent;

    @media (--lg) {
      grid-column: 1;
      grid-row: 3;
      margin: var(--size-3) var(--size-3) -5% var(--size-3);
    }

    @media (--xl) {
      grid-column: 4;
      grid-row: 2;
      margin: -15% var(--size-6) var(--size-5) var(--size-5);
    }

    &::before {
      content: "5";
    }
  }

  .frame {
    block-size: 100%;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    background-color: var(--_day-bg);
  }
</style>

<div id="5th" class="day five" tabindex="0">
  <div class="frame"></div>
</div>