---
---

<style>
  .six {
    aspect-ratio: var(--aspect-box);
    border-radius: var(--radius-round);
    margin: var(--size-4);
    align-self: center;
    background-image: url(https://doodleipsum.com/700x700/outline?6);

    &::before {
      content: "6";
    }
  }
</style>

<div class="day six">

</div>