---
---

<style>
  .seven {
    aspect-ratio: 1/1.25;
    margin: var(--size-10) var(--size-8) var(--size-8) 0;
    align-self: flex-end;
    background: var(--_day-bg);

    &::before {
      content: "7";
    }
  }
</style>

<div id="7th" class="day seven" tabindex="0">
  
</div>