---
---

<style>
  .seven {
    margin: var(--size-10) var(--size-8) var(--size-8) 0;
    align-self: flex-end;

    &::before {
      content: "7";
    }
  }

  .frame {
    min-block-size: 300px;
    background-color: var(--_day-bg);
    border: var(--size-3) solid #d9773e;
  }
</style>

<a href="#7th" id="7th" class="day seven" title="">
  <div class="frame cq-interactive"></div>
</a>