---
import Pic from '../Pic/Pic.astro';
---

<style>
  .seven {
    margin: var(--size-10) var(--size-8) var(--size-8) 0;
    align-self: flex-end;

    &::before {
      content: "7";
    }
  }

  .frame {
    background-color: #f9ecb3;
    border: var(--size-2) solid #d9773e;
    overflow: hidden;
  }

  .mat {
    place-self: flex-end center;
    margin-block-end: -40%;
    inline-size: 130%;
  }

  .disco-ball {
    inline-size: 45%;
    margin-inline-start: -10%;
  }

  .food-bowl {
    inline-size: 30%;
    place-self: flex-end;
    margin-inline-end: -15%;
    margin-block-end: 5%;
  }
</style>

<style global>
  [data-theme="dark"] .seven {
    & .frame {
      background-color: hsl(49deg 35% 24%);
    }
  }
</style>

<a href="#7th" id="7th" class="day seven stacked" title="">
  <div class="frame stacked">
    <div class="mat">
      <Pic filename="day7/mat" role="presentation" />
    </div>
    <div class="food-bowl">
      <Pic filename="day7/food" role="presentation" />
    </div>
    <Pic filename="day7/disco-combo" width="940" height="1280" role="presentation" />
    <div class="disco-ball">
      <Pic filename="day7/disco_ball" role="presentation" />
    </div>
  </div>
</a>