---
---

<style>
  .seven {
    aspect-ratio: 1/1.25;
    margin: var(--size-10) var(--size-8) var(--size-8) 0;
    align-self: flex-end;
    background: var(--_day-bg);

    &::before {
      content: "7";
      background-image: url(/day7/7.avif);
      background-image: url(/day7/7.webp);
      background-image: url(/day7/7.png);
    }
  }
</style>

<a href="#7th" id="7th" class="day seven" title="">
  
</a>