---
---

<style>
  .eight {
    inline-size: 120%;
    margin-bottom: var(--size-4);
    aspect-ratio: 1;
    background: var(--_building-color);

    &::before {
      content: "8";
    }

    & > picture > img {
      mask-image: url(/flower.svg);
      mask-size: cover;
      background-color: var(--_day-bg);
    }
  }
</style>

<div class="day eight">
  <picture>
    <img height="350" width="350" src="https://doodleipsum.com/350x350/outline?8" alt="">
  </picture>
</div>