---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day8;
---

<style>
  .eight {
    --_light-filter: none;
    --_bg-gradient-color-1: #ffe8d1;
    --_bg-gradient-color-2: #f5baa2;

    margin-bottom: var(--size-4);
    aspect-ratio: 1;

    @media (--md) {
      --_day-column: 2;
      max-inline-size: 25rem;
    }

    @media (--lg) {
      --_day-column: 1;
    }
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-end flex-start;
    margin-inline-start: 10%;
    margin-block-end: 10%;
  }

  .frame {
    padding: var(--size-2);
    position: relative;
  }

  .light {
    inline-size: 25%;
    margin-block-start: 3%;
    place-self: flex-start center;
    filter: var(--_light-filter);
  }

  .combo {
    mask-image: url(/day8/mask.png);
    mask-size: cover;
    mask-repeat: no-repeat;
    background-image: 
      linear-gradient(transparent, 55%, #c86d69 0%, #c86d69 0%),
      linear-gradient(to bottom, var(--_bg-gradient-color-1), var(--_bg-gradient-color-2))
    ;
  }
</style>

<style global>
  [data-theme="dark"] {
    & .eight {
      --_light-filter: drop-shadow(0px 0px 10px #fff9);
      --_bg-gradient-color-1: hsl(42deg 20% 32%);
      --_bg-gradient-color-2: hsl(17deg 46% 13%);
    }
  }

  .eight .combo > picture:first-of-type img {
    object-position: bottom;
    height: 100%;
    object-fit: contain;
  }
</style>

<div 
  id="8th" 
  class="day eight stacked" 
  title="An intrepid young artist colorfully paints the sunrise, inspired by Van Gogh's Starry Night."
  data-day-state={day_state} 
  data-detail-position="bottom" 
  data-detail-title="The CSS Podcast: Color DevTools" 
  data-detail-description="The CSS Podcast is back with a mini series all about DevTools! This episode covers the robust color picker and other color-focused Chrome DevTools." 
  data-detail-url="https://pod.link/thecsspodcast"
>
  <span class="plaque">
    <Number num="8" link="#8th" active={day_state} />
  </span>
  <div class="frame stacked">
    <Pic filename="day8/frame" width="1635" height="1635" role="presentation" />
    <div class="combo stacked">
      <Pic filename="day8/8-combo" role="presentation" />
      <div class="light">
        <Pic filename="day8/light" role="presentation" />
      </div>
    </div>
  </div>
</div>