---
---

<style>
  .eight {
    margin-bottom: var(--size-4);
    min-block-size: 290px;

    &::before {
      content: "8";
      background-image: url(/day8/8.avif);
      background-image: url(/day8/8.webp);
      background-image: url(/day8/8.png);
      inset-block: auto 2%;
    }
  }

  .frame {
    mask-image: url(/flower.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--_day-bg);
  }
</style>

<a href="#8th" id="8th" class="day eight stacked" title="">
  <div class="frame"></div>
</a>