---
---

<style>
  .eight {
    margin-bottom: var(--size-4);
    aspect-ratio: 1;
    background: var(--_building-color);

    &::before {
      content: "8";
    }
  }

  .frame {
    block-size: 100%;
    mask-image: url(/flower.svg);
    mask-size: cover;
    background-color: var(--_day-bg);
  }
</style>

<div id="8th" class="day eight">
  <div class="frame"></div>
</div>