---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day9;
---

<style>
  .nine {
    min-height: 150px;
    inline-size: 90%;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    background: var(--_day-bg);
    border: var(--size-2) solid #d9773e;

    @media (--md) {
      --_day-column: 2;
    }
  }

  .plaque {
    z-index: var(--layer-1);
    place-self: flex-end center;
    margin-block-end: -25px;
  }
</style>

<div 
  id="9th" 
  data-day-state={day_state} 
  class="day nine stacked" 
  title=""
>
  <span class="plaque">
    <Number num="9" link="#9th" />
  </span>
</div>