---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day9;
---

<style>
  .nine {
    max-height: 250px;
    min-block-size: 150px;
    max-width: 500px;
    min-width: 276px;
  }

  .cq-interactive {
    padding-bottom: 60px;
    padding-left: 30px;
  }

  .pane {
    overflow: hidden;
    max-height: 250px;
    max-width: 500px;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    background: var(--_day-bg);
    background: #f9e0ae;

    /*@container (min-width: 220px) {
      min-block-size: 300px;
    }*/

    /*@container (min-width: 260px) {
      min-block-size: 310px;
    }*/

    /*@container (min-width: 270px) {
      min-block-size: 350px;
    }*/

    /*@container (min-width: 320px) {
      min-block-size: 400px;
    }*/

    /*@container (min-width: 360px) {
      min-block-size: 450px;
    }*/
  }

  .sill {
    align-self: flex-end;
    justify-self: center;
    align-items: flex-end;
    z-index: 1;
    inline-size: 110%;
  }

  .plaque {
    z-index: var(--layer-2);
    place-self: flex-end center;
    margin-block-end: -15px;
  }

  .shadow {
    align-self: end;
    width: 200%;
  }

  .book {
    margin-left: 15%;
    place-self: flex-end flex-start;
    width: 30%;
  }

  .character {
    align-self: end;
    justify-self: center;
    margin-bottom: -8px;
    width: 75%;
  }

  .coffee {
    align-self: end;
    margin-bottom: 0;
    margin-right: 10%;
    place-self: flex-end flex-end;
    width: 20%;
  }

  .frame {
    margin-bottom: -8px;
    justify-self: center;
    width: 100%;
  }

  .monstera_front {
    margin-bottom: 8%;
    margin-left: -5%;
    place-self: flex-end flex-start;
    width: 75%;
  }

  .monstera_pot {
    margin-left: 7%;
    place-self: flex-end flex-start;
    width: 20%;
  }

  .pothos {
    margin-bottom: -20%;
    place-self: flex-end flex-end;
    width: 20%;
  }

  .steam {
    justify-self: center;
    place-self: flex-end center;
    width: 20%;
  }
</style>

<!-- <style global>
  [data-theme="dark"] {
    & .nine {
      --_light-filter: drop-shadow(0px 0px 10px #fff9);
      --_bg-shadow-opacity: .25;
      --_bg-gradient-color-1: hsl(55deg 3% 20%);
      --_bg-gradient-color-2: hsl(65deg 59% 21%);
    }
  }
</style> -->

<div 
  id="9th" 
  class="day nine stacked cq-interactive"
  title="A student gets ready for her design lesson with a freshly brewed cup of tea... and lots of caffeine!"
  data-day-state={day_state} 
  data-detail-position="bottom" 
  data-detail-title="Learn Design: New Content" 
  data-detail-description="Cookie gummies chupa chups lemon drops shortbread jelly sweet roll candy canes." 
  data-detail-url="https://web.dev/learn/design/"
>
  <span class="plaque">
    <Number num="9" link="#9th" active={day_state} />
  </span>

  <div class="pane stacked">
    <div class="bg"></div>
    <div class="shadow">
      <Pic filename="day9/bg_shadow" role="presentation" />
    </div>
    <div class="character">
      <Pic filename="day9/character" role="presentation" />
    </div>
    <div class="coffee">
      <Pic filename="day9/coffee" role="presentation" />
    </div>
    <div class="steam">
      <Pic filename="day9/steam" role="presentation" />
    </div>
  </div>
  <div class="sill stacked">
    <div class="monstera_front">
      <Pic filename="day9/monstera_front" role="presentation" />
    </div>
    <div class="monstera_pot">
      <Pic filename="day9/monstera_pot" role="presentation" />
    </div>
    <div class="book">
      <Pic filename="day9/book" role="presentation" />
    </div>
    <div class="frame">
      <Pic filename="day9/frame" role="presentation" />
    </div>
    <div class="pothos">
      <Pic filename="day9/pothos" role="presentation" />
    </div>
  </div>
</div>