---
---

<style>
  .nine {
    inline-size: 60%;
    justify-self: flex-end;
    aspect-ratio: var(--ratio-box);
    border-radius: var(--radius-round);
    background: var(--_day-bg);

    &::before {
      content: "9";
      background-image: url(/day9/9.avif);
      background-image: url(/day9/9.webp);
      background-image: url(/day9/9.png);
    }
  }
</style>

<a href="#9th" id="9th" class="day nine" title="">

</a>