---
---

<style>
  .nine {
    aspect-ratio: var(--ratio-box);
    inline-size: 60%;
    justify-self: flex-end;
    border-radius: var(--radius-round);
    background: var(--_day-bg);
    border: var(--size-2) solid #d9773e;

    &::before {
      content: "9";
    }
  }
</style>

<a href="#9th" id="9th" class="day nine" title="">

</a>