---
---

<style>
  .nine {
    min-height: 150px;
    inline-size: 90%;
    justify-self: flex-end;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    background: var(--_day-bg);
    border: var(--size-2) solid #d9773e;

    &::before {
      content: "9";
    }

    @media (--xl) {
      --_day-column: 2;
      --_day-height: 1;
    }
  }
</style>

<a href="#9th" id="9th" class="day nine" title="">

</a>