---
import Pic from '../Pic/Pic.astro';
import Number from '../Calendar/Number.astro';
import Days from './day.store.js';

const day_state = Days.day9;
---

<style>
  .nine {
    max-height: 200px;
    min-block-size: 150px;
    max-width: 500px;
    min-width: 275px;
  }

  .cq-interactive {
    padding-bottom: 105px;
    padding-left: 30px;
  }

  .plaque {
    z-index: var(--layer-2);
    place-self: flex-end center;
    margin-block-end: -15px;
  }

  .pane {
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    max-height: 250px;
    max-width: 500px;
    overflow: hidden;

    /*@container (min-width: 220px) {
      min-block-size: 300px;
    }*/

    /*@container (min-width: 260px) {
      min-block-size: 310px;
    }*/

    /*@container (min-width: 270px) {
      min-block-size: 350px;
    }*/

    /*@container (min-width: 320px) {
      min-block-size: 400px;
    }*/

    /*@container (min-width: 360px) {
      min-block-size: 450px;
    }*/
  }

  .sill {
    align-items: flex-end;
    align-self: flex-end;
    inline-size: 110%;
    justify-self: center;
    margin-bottom: 5px;
    z-index: 1;
  }

  .shadow {
    align-self: end;
    background: var(--_day-bg);
    background: #f9e0ae;
    width: 200%;
  }

  .book {
    margin-left: 15%;
    place-self: flex-end flex-start;
    width: 30%;

    @media (--md) {
      margin-left: 30%;
    }

    @media (--sm) {
      margin-left: 10%;
      width: 60%;
    }
  }

  .tea {
    place-self: center flex-end;
    margin-bottom: -8px;
    width: 50%;

    @media (--sm) {
      place-self: flex-start flex-end;
      width: 85%;
    }
  }

  .character {}

  .steam {
    aspect-ratio: 23/26;
    background: url("/day9/steam_sprite.png") 0% 0%;
    background: url("/day9/steam_sprite.webp") 0% 0%;
    background-size: 600% auto;
    place-self: center flex-end;
    width: 20%;
    margin-right: 6%;

    @nest .day & {
    /*@nest .day:is(:hover, :focus-within) & {*/
      animation: steamy 2.5s steps(1) infinite;

      & .static {
        display: none;
      }
    }
  }

  @keyframes steamy {
    0%  { background-position-x: 0%; }
    12% { background-position-x: 100%; }
    27% { background-position-x: 200%; }
    39% { background-position-x: 300%; }
    51% { background-position-x: 400%; }
    63% { background-position-x: 500%; }
    75% { background-position-x: 600%; }
    88% { background-position-x: 700%; }
  }

  .coffee {
    align-self: end;
    margin-bottom: 0;
    margin-right: 10%;
    place-self: flex-end flex-end;
    width: 20%;

    @media (--md) {
      margin-right: 85%;
    }

    @media (--sm) {
      display: none;
    }
  }

  .frame {
    margin-bottom: -8px;
    justify-self: center;
    width: 100%;
  }

  .monstera_front {
    margin-bottom: 8%;
    margin-left: -5%;
    place-self: flex-end flex-start;
    width: 75%;

    @media (--md) {
      margin-left: -10%;
    }

    @media (--sm) {
      display: none;
    }
  }

  .monstera_pot {
    margin-left: 7%;
    place-self: flex-end flex-start;
    width: 20%;

    @media (--md) {
      margin-left: 0%;
    }

    @media (--sm) {
      display: none;
    }
  }

  .pothos {
    margin-bottom: -20%;
    place-self: flex-end flex-end;
    width: 20%;

    @media (--md) {
      place-self: flex-end flex-start;
    }
  }
</style>

<div 
  id="9th" 
  class="day nine stacked cq-interactive"
  title="A student gets ready for her design lesson with a freshly brewed cup of tea... and lots of caffeine!"
  data-day-state={day_state} 
  data-detail-position="bottom" 
  data-detail-title="Learn Design: New Content" 
  data-detail-description="Cookie gummies chupa chups lemon drops shortbread jelly sweet roll candy canes." 
  data-detail-url="https://web.dev/learn/design/"
>
  <span class="plaque">
    <Number num="9" link="#9th" active={day_state} />
  </span>

  <div class="pane stacked">
    <div class="shadow">
      <Pic filename="day9/bg_shadow" role="presentation" />
    </div>
    <div class="tea stacked">
      <div class="character">
        <Pic filename="day9/character" role="presentation" />
      </div>
      <div class="steam">
        <div class="static">
          <Pic filename="day9/steam" role="presentation" />
        </div>
      </div>
    </div>
    <div class="coffee">
      <Pic filename="day9/coffee" role="presentation" />
    </div>
  </div>
  <div class="sill stacked">
    <div class="monstera_front">
      <Pic filename="day9/monstera_front" role="presentation" />
    </div>
    <div class="monstera_pot">
      <Pic filename="day9/monstera_pot" role="presentation" />
    </div>
    <div class="book">
      <Pic filename="day9/book" role="presentation" />
    </div>
    <div class="frame">
      <Pic filename="day9/frame" role="presentation" />
    </div>
    <div class="pothos">
      <Pic filename="day9/pothos" role="presentation" />
    </div>
  </div>
</div>