---
---

<style>
  .nine {
    inline-size: 60%;
    justify-self: flex-end;
    aspect-ratio: var(--aspect-box);
    border-radius: var(--radius-round);
    background: var(--_day-bg);

    &::before {
      content: "9";
    }
  }
</style>

<div id="9th" class="day nine" tabindex="0">

</div>