---
import Pic from '../Pic/Pic.astro';
---

<style>

footer {
  position: relative;
  width: 100%;
  background-size: cover;
  margin-top: -30%;
  z-index: 2;

  @media print {
    display: none; 
  }
}

.bird {
  position: absolute;
  width: clamp(300px, 60%, 800px);
  top: -20%;
  z-index: 2;
}

.meta {
  display: grid;
  text-align: center;
  justify-content: center;
  background-color: white;
  padding: 0 2rem 10rem;

  @media (--md) {
    text-align: left;
    justify-content: flex-end;
  }
}

.container {
  color: #00284a;

  & h2 {
    color: inherit;
  }

  @media (--md) {
    max-width: 32ch;
    margin-top: -14rem;
    margin-right: 2vw;
  }
}

.callout {
  margin-top: 1rem;
  font-style: italic;
}

</style>

<style global>
  [data-theme="dark"] {
    & .bird {
      filter: brightness(0.9);
    }
  }
</style>

<footer>
  <div class="bird">
    <Pic filename="footer/footer_birb_green" role="presentation" />
  </div>
  <div class="content">
    <div class="snow-top">
      <Pic filename="footer/footer_bg" role="presentation" />
    </div>
    <div class="meta">
      <div class="container">
        <div class="acknowledgments">
          <h4>Brought to you by:</h4>
          <p><a href="https://www.instagram.com/byalicelee">Alice Lee</a>: Illustration and animation</p>
          <p><a href="https://web.dev/authors/adamargyle/">Adam Argyle</a>: Architecture lead</p>
          <p><a href="https://web.dev/authors/una/">Una Kravets</a>: Project lead</p>
          <p><a href="https://twitter.com/devnook">Ewa Gasperowicz</a>: Infrastructure lead</p>
          <p><a href="https://twitter.com/TerryEdnacot">Terry Ednacot</a>: Program manager</p>
          <p><a href="https://web.dev/authors/rachelandrew/">Rachel Andrew</a>: Content lead</p>
          <p><a href="https://web.dev/authors/surma/">Surma</a>: <a href="https://github.com/GoogleChromeLabs/container-query-polyfill">Container query polyfill</a>er</p>
          <p><a href="https://twitter.com/twerske">Emma Twersky</a>: Site contributor</p>
          <p><a href="https://twitter.com/KevinLozandier">Kevin Lozandier</a>: Site contributor</p>
          <p><a href="#">Cole Murphy</a>: Site contributor</p>
        </div>
        <p class="callout">Check out <a href="https://web.dev">web.dev</a> for more web development content, all year long.</p>
      </div>
    </div>
  </div>

</footer>