---
import Pic from '../Pic/Pic.astro';
---

<style>

footer {
  position: relative;
  width: 100%;
  background-size: cover;
  margin-top: -30%;
  z-index: 2;

  @media print {
    display: none; 
  }
}

.bird {
  position: absolute;
  width: clamp(300px, 60%, 800px);
  top: -20%;
  z-index: 2;
}

.meta {
  display: grid;
  text-align: center;
  justify-content: center;
  background-color: white;
  padding: 0 2rem 10rem;

  @media (--md) {
    text-align: left;
    justify-content: flex-end;
  }
}

.container {
  color: #00284a;

  & h2 {
    color: inherit;
  }

  @media (--md) {
    max-width: 32ch;
    margin-top: -14rem;
    margin-right: 2vw;
  }
}

.web-dev-logo {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  @media (--md) {
    justify-content: flex-start;
  }
}

.callout {
  margin-top: 1rem;
  font-style: italic;
}

footer a:visited {
  color: var(--indigo-6);
  text-decoration-color: var(--indigo-6);
}

.snow-top {
  background-image: url("/footer/footer_bg.avif");
  background-size: cover;
  background-position: 50% 0%;
  height: 33vw;
}

</style>

<style global>
  [data-theme="dark"] {
    & .bird {
      filter: brightness(0.9);
    }

    & h4 {
      color: inherit;
    }

    & a {
      --link: var(--indigo-6);
      text-decoration-color: var(--indigo-6);
    }

    & footer a:visited {
      color: var(--indigo-6);
      text-decoration-color: var(--indigo-6);
    }
  }
</style>

<footer>
  <div class="bird">
    <Pic filename="footer/footer_birb_green" role="presentation" />
  </div>
  <div class="content">
    <div class="snow-top">
    </div>
    <div class="meta">
      <div class="container">
        <div class="acknowledgments">
          <h4>Brought to you by:</h4>
          <p><a href="https://www.instagram.com/byalicelee">Alice Lee</a>: Illustration and animation</p>
          <p><a href="https://web.dev/authors/adamargyle/">Adam Argyle</a>: Architecture lead</p>
          <p><a href="https://web.dev/authors/una/">Una Kravets</a>: Project lead</p>
          <p><a href="https://twitter.com/devnook">Ewa Gasperowicz</a>: Infrastructure lead</p>
          <p><a href="https://twitter.com/TerryEdnacot">Terry Ednacot</a>: Program manager</p>
          <p><a href="https://web.dev/authors/rachelandrew/">Rachel Andrew</a>: Content lead</p>
          <p><a href="https://web.dev/authors/surma/">Surma</a>: Container query polyfiller</p>
          <p><a href="https://twitter.com/twerske">Emma Twersky</a>: Site contributor</p>
          <p><a href="https://twitter.com/KevinLozandier">Kevin Lozandier</a>: Site contributor</p>
          <p><a href="#">Cole Murphy</a>: Site contributor</p>
        </div>
        <p class="callout">Built with the Google Chrome Labs <a href="https://github.com/GoogleChromeLabs/container-query-polyfill">container-query-polyfill</a> and <a href="https://open-props.style">Open Props</a>. Check out <a href="https://web.dev">web.dev</a> for more web development content, all year long.</p>
        <a class="web-dev-logo" href="https://web.dev">
          <svg height="22.32" viewBox="0 0 119.79 22.32" width="119.79" xmlns="http://www.w3.org/2000/svg" aria-label="web.dev" role="img" style="stroke: none;"><path d="M114.99 19.32h-2.2l-4.8-11.9h2.4l3.5 9.2 3.5-9.2h2.4Zm-16.8-7.3h6.8a3.17 3.17 0 0 0-3.4-2.9 3.42 3.42 0 0 0-3.4 2.9Zm3.6 7.7a6 6 0 0 1-6-6.3c0-3.6 2.5-6.3 5.9-6.3s5.8 2.4 5.8 6.5v.2h-9.3a3.88 3.88 0 0 0 3.8 3.9 3.56 3.56 0 0 0 3.3-2.1l2 1a6.22 6.22 0 0 1-5.5 3.1Zm-14 0c-3.1 0-5.7-2.8-5.7-6.3s2.6-6.3 5.7-6.3a5 5 0 0 1 4.1 2h.1l-.1-1.6v-5.5h2.2v17.3h-2.1v-1.6h-.1a5.12 5.12 0 0 1-4.1 2Zm.3-2c2.2 0 3.8-1.7 3.8-4.3s-1.6-4.3-3.8-4.3a4 4 0 0 0-3.8 4.3 4 4 0 0 0 3.8 4.3Zm-6.8.1a1.61 1.61 0 0 1-1.7 1.6 1.74 1.74 0 0 1-1.7-1.6 1.67 1.67 0 0 1 1.7-1.6 1.61 1.61 0 0 1 1.7 1.6Zm-10.5-.1a4 4 0 0 0 3.8-4.3 4 4 0 0 0-3.8-4.3c-2.2 0-3.8 1.8-3.8 4.3s1.6 4.3 3.8 4.3Zm.4 2a5 5 0 0 1-4.1-2h-.1v1.6h-2.1V2.02h2.2v5.5l-.1 1.6h.1a4.84 4.84 0 0 1 4.1-2c3.1 0 5.7 2.8 5.7 6.3s-2.6 6.3-5.7 6.3Zm-17.4-7.7h6.8a3.17 3.17 0 0 0-3.4-2.9 3.42 3.42 0 0 0-3.4 2.9Zm3.6 7.7a6 6 0 0 1-6-6.3c0-3.6 2.5-6.3 5.9-6.3s5.8 2.4 5.8 6.5v.2h-9.3a3.88 3.88 0 0 0 3.8 3.9 3.67 3.67 0 0 0 3.3-2.1l2 1a6.22 6.22 0 0 1-5.5 3.1Zm-6.3-12.2-3.8 11.9h-2.3l-3-9.1-2.9 9.1h-2.3l-3.9-11.9h2.3l2.6 9 2.9-9h2.3l2.9 9 2.6-9Z" fill="#5f6368" fill-rule="evenodd" class="brand__text"></path><path d="M0 19.28a3 3 0 0 1 3-3h16.27a3.045 3.045 0 0 1 0 6.09H3.04A3 3 0 0 1 0 19.28Z" fill="#6cf"></path><path d="M.89.9a3 3 0 0 1 4.3 0l8.12 8.11a3.05 3.05 0 0 1 0 4.3l-8.12 8.12a3.04 3.04 0 1 1-4.3-4.3l5.6-5.61a.51.51 0 0 0 0-.72L.89 5.22A3 3 0 0 1 .89.9Z" fill="#06f" fill-rule="evenodd"></path><path d="m10.39 16.22-5.2 5.2a3.04 3.04 0 1 1-4.3-4.3l.89-.9Z" fill="#c6f"></path><circle cx="19.27" cy="19.27" fill="#06f" r="3.04"></circle></svg>
        </a>
      </div>
    </div>
  </div>

</footer>